<!DOCTYPE html>
<html lang="ja"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>{{ $goods->getGoodsName() }} | I･E･Iオリジナルショップ</title>
<meta name="description" content="@if ($goods->getSeoDescription() === '') <?php include public_path() . '/snoopy/include/description.html'; ?> @else {{ $goods->getSeoDescription() }} @endif "/>
<meta name="keywords" content="@if ($goods->getSeoKeywords() === '') <?php include public_path() . '/snoopy/include/keyword.html'; ?> @else {{ $goods->getSeoKeywords() }} @endif "/>

<link href="/kitty/css/import_kitty02.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/premico/js/smoothscroll.js"></script>

<meta name="csrf-token" content="{{ csrf_token() }}">
<?php include public_path() . '/header_ga_tag.html'; ?>
<script src="{{ asset('/sys/js/goods.js') }}"></script>

</head>


<body id="kitty" class="item-50733">

<div id="container">
<?php include public_path() . '/body_ga_tag.html'; ?>
<a name="top"></a>

<!--ヘッダ▼-->
<div id="header">
<?php include public_path() . '/kitty/include/re_header.html'; ?>

<!--メインコンテンツ▼-->
<div id="main">

<?php include public_path() . '/kitty/include/sns_button.html'; ?>

<h1><img src="/kitty/goods_img/5136200_tit.png" alt="{{ $goods->getGoodsName() }}" width="600" height="204"></h1>

<p><img src="/kitty/goods_img/5136200_main.jpg" alt="" width="1000" height="546"></p>

<div class="goodsdetail">
<!--商品詳細▼-->
<p class="txt-goods">お祝いの花々から、ちょこんと顔をのぞかせて…<br>
50周年を迎える<span class="txt-view">ハローキティ</span>と<br>
「浅草文庫」が華やかにコラボレーション！<br>
播州姫路の白革に、色鮮やかな友禅染で咲く吉祥の花々。<br>
日本伝統の革工芸、文庫革ならではの雅な美しさに<br>
<span class="txt-view">ハローキティ</span>の愛らしさを<br>
たっぷり詰め込んだ長財布です。</p>


<p class="cart-text-link"><a href="#cart-box">カートに入れる</a></p>

<ul class="topic">
<li>本場姫路特産の白革（牛革）を使用</li>
<li><span class="txt-view">ハローキティ</span>50周年を祝福する吉祥の花々</li>
<li>10色11版の型染めにぷっくりとした型押し</li>
<li>大きく開くラウンドファスナー</li>
<li>合計19ポケットの収納力</li>
<li>I･E･I社 特別企画商品</li>
</ul>


<p class="img-cnt"><img src="/kitty/goods_img/5136200_01.jpg" alt="" width="800" height="431"></p>


<h2>優美に咲く吉祥の花々とかわいいハローキティが<br>
あなたの毎日をしあわせで彩ります</h2>

<p>日本を代表する「カワイイ」キャラクターとして、世界中の人々に笑顔を届けている<span class="txt-view">ハローキティ</span>。そんな<span class="txt-view">ハローキティ</span>の誕生50周年を華やかに祝福する、浅草文庫のお財布が登場しました。日本伝統の革工芸・文庫革ならではの色鮮やかでぷっくりとした手触りが楽しい特別なレザーウォレット＜<span class="txt-view">ハローキティ</span>花あそび＞。椿や菊、桜をはじめとする吉祥の花々と、かわいい<span class="txt-view">ハローキティ</span>が、しあわせに満ちた毎日を予感させます。</p>


<h2>ふっくらやさしい手触りの文庫革<br>
長く使うほどに愛おしさが増して…</h2>

<p>キティのファミリーネーム「ホワイト」を思わせる真っ白な播州姫路特産の牛革に、型友禅の技法で合計11版の色版を重ねて染め上げられた美しい絵柄。吉祥の花には、繁栄や長寿を象徴する5種類が選び抜かれ、お財布全面を華麗に彩ります。花々の間からは色々なポーズの<span class="txt-view">ハローキティ</span>が顔をのぞかせて、まるでかくれんぼを楽しんでいるかのよう。おなじみのリボンをつけた<span class="txt-view">ハローキティ</span>といっしょに、桜や椿を耳元につけたキティが隠れている遊び心のあるキュートなデザインです。使用されている色数は、濃淡美しい和の彩りで全10色。白く鞣した牛革との見事なコントラストと、絶妙なグラデーション、さらにぷっくりと凹凸感のある型押しで立体的に表現されています。<br>
お財布は、浅草文庫の職人が手仕事で作り上げた貴重な逸品。型友禅での彩色や型押しなど、高度で複雑な工程のすべてに熟練の技が光ります。さらに、大きく開いて使いやすいラウンドファスナーや、合計19ポケットの収納力など、毎日使うものだからこそ機能性にもこだわりが尽くされました。<br>
心華やぐアニバーサリーにぴったりの＜<span class="txt-view">ハローキティ</span> 花あそび＞浅草文庫 牛革製長財布は、I･E･I社の特別企画商品です。ぜひこの好機にお求めになり、<span class="txt-view">ハローキティ</span>と笑顔咲く毎日をお過ごしください。</p>


<p class="img-cnt"><img src="/kitty/goods_img/5136200_02.jpg" alt="" width="720" height="600"></p>


<div class="box_hamano">
<h3>手仕事の結晶 浅草文庫<sub>&reg;</sub></h3>
<div class="img-flt">
<p><img src="/kitty/goods_img/5136200_03.jpg" alt="" width="200" height="181"></p>
<p style="margin-bottom: 20px; text-align: left;">姫路特産の真っ白い牛革に江戸小紋などの文様を彩色し、型押しでふっくらと仕上げた文庫革。型友禅の技法で1色ずつ寸分の狂いもなく版を重ね、柄を摺り出した後、熱を加えて型押しをほどこし、ふっくらと豊かな表情をひき出します。浅草橋の工房で熟練職人が根気よく作り上げる「浅草文庫」の文庫革。使うほどに味わいと愛着が深まります。</p>
</div>

<h3>趣深い日本の彩り10色</h3>
<p>10色11版の型友禅による美しい色づかいは浅草文庫ならでは。</p>
<p class="img-cnt"><img src="/kitty/goods_img/5136200_04.jpg" alt="" width="400" height="133"></p>
</div>
<!--商品詳細▲-->
</div>


<!--仕様▼-->
<div class="shiyo-m">
<dl class="clearfix">
<dt><img src="/snoopy/images/shiyo.gif" width="58" height="24" alt="仕様"></dt>
<dd>
    <ul>
    <li>●材質：外装＝牛革に着彩（文庫革）、内装＝牛革、合成皮革</li>
    <li>●サイズ（約）：縦10.5×横19×厚さ2.4cm</li>
    <li>●重さ（約）：180g</li>
    <li>●日本製</li>
    </ul>
</dd>
</dl>
</div>
<!--仕様▲-->


<!--カート▼-->

<div id="cart-box">
<p class="cart-image"><img src="/kitty/goods_img/5136200_cart.jpg" width="361" height="392"></p>
<div class="cart">
<h2>ハローキティ 花あそび<br>
浅草文庫<sub>&reg;</sub> 牛革製長財布</h2>

								@if ($goods->isNgCartMessage() || $goods->isOkCartMessage())
									<!-- メッセージあり 受注NG or OK -->
									<p class="atn">{!! $goods->getMessage() !!}</p>
								@else
									<!-- メッセージなし 納期表示 -->
									<p class="atn">{!! $goods->getGoodsDeliveryText() !!}</p>
								@endif

<p class="price">{!! $goods->getSoroM1shsg_0_text() !!}<br>
{!! $goods->getSoroM1shsg_1_text() !!}<br>
{!! $goods->getSoroM1tsry_text() !!}</p>

							<!-- 紐づけコードなし カート -->
							<!-- 表示のみ 以外 -->
							@if ($goods->isDisplayOnly() === false && !$goods->isNgCartMessage())
								<form method="post" action="/cart" name="cartForm{{ $goods->getItemNo() }}">
									<input type="hidden" name="item_no" value="{{ $goods->getItemNo() }}">
									<input type="hidden" name="medium_code" value="{{ $goods->getMediumCode() }}">
									<input type="hidden" name="amount1" value="1">
									<input type="hidden" name="ex_volume" value="{{ $goods->isVolume() }}">

									@if ($goods->isInitial() && !$goods->isNgCartMessage())
										<!-- イニシャルの指定あり -->
										<br>
										<span class="atn">{!! $goods->getInitialTitle() !!}</span><br>
										<input type="text" name="initial" value=""><br>
									@endif

									@if ($goods->isCosize() && !$goods->isNgCartMessage())
											<ul>
											@if ($goods->isColor())
											<li class="select">
												<select name="m5clr" class="m5clr{{ $goods->getItemNo() }}"
													data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5clr">
													<option value="">▼お選びください</option>
													@foreach ($goods->getColorArray() as $key => $color)
														<option value="{{ $color->m5clr }}">
															{{ $color->color_name }}
														</option>
													@endforeach
												</select>
											</li>
											@if ($goods->isSize() || $goods->isType())
												<br>
											@endif
										@else
											<input type="hidden" name="m5clr" value="">
										@endif
										@if ($goods->isSize())
											<li class="select">
												<span>サイズ</span>
												<select name="m5siz" class="m5siz{{ $goods->getItemNo() }}"
													data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5siz">
													<option value="">▼お選びください</option>
													@if (!$goods->isColor())
														@foreach ($goods->getSizeArray() as $size)
															<option value="{{ $size->m5siz }}">
																{{ $size->size_name }}
															</option>
														@endforeach
													@endif
												</select>
											</li>
											@if ($goods->isType())
												<br>
											@endif
										@else
											<input type="hidden" name="m5siz" value="">
										@endif

										@if ($goods->isType())
											<li class="select">
												<select name="type_code" class="type_code{{ $goods->getItemNo() }}"
													data-item_no="{{ $goods->getItemNo() }}" data-data_type="type_code">
													<option value="">▼お選びください</option>
													@if (!$goods->isColor() && !$goods->isSize())
														@foreach ($goods->getTypeArray() as $type)
															<option value="{{ $type->type_code }}">
																{{ $type->type_name }}
															</option>
														@endforeach
													@endif
												</select>
											</li>
										@else
											<input type="hidden" name="type_code" value="">
										@endif
										</ul>
									@endif

									@if (!$goods->isNgCartMessage())
									<ul>
										<li class="cart-btn">
											<a onClick="javascript:void(0);">
												<img src="/kitty/goods_img/sp_cart_bt.png" alt="カートに入れる"
													class="add-cart"
													data-item_no="{{ $goods->getItemNo() }}"
                          style="cursor: pointer;"
													data-tor-smoothScroll="noSmooth">
											</a>
										</li>
										<li>
									</li>
									</ul>
									@endif
								</form>
							@endif

<ul class="contact">
<li><a href="/inquiry/index?item_no={{ $goods->getItemNo() }}">この商品のお問い合わせ</a></li>
</ul>

</div>
<!--カート▲-->
</div>

<?php include public_path() . '/kitty/include/under_bnr.html'; ?>

<p class="copyright">&copy;2024 SANRIO CO., LTD. APPROVAL NO. L650628</p>

</div>
<!--メインコンテンツ▲-->

<!-- フッター -->
<div id="footer" class="clearfix">
<?php include public_path() . '/kitty/include/footer.html'; ?>
</div>
<!-- フッター -->

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2332207-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>

<script>
	document.getElementById('goods_name').textContent = '{{ $goods->getGoodsName() }}';
</script>

</body>
</html>
