@charset "utf-8";

/*contens-base.css
==================
1.ページ共通

2.ウィンドウ幅

3.ヘッダー＆ヘッダーメニュー

4.フッター

5.位置揃え

6.左サイドメニュー

7.左サイドサブメニュー

8.右側コンテンツ部分
==================*/



/*1.ページ共通
==================*/

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #ffffff;
	color: #323232;
	line-height: 1.8;
	/* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 75%;
	/* [disabled]text-align: center; */
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
	clear: both;
}

a:link{
	color: #333333;
	text-decoration: none;
}

a:visited{
	color: #333333;
	text-decoration: none;
} 

a:active{
	color: #ff0000;
	text-decoration: underline;
} 

a:hover{
	color: #ff0000;
	text-decoration: underline;
}

img {
	border:0;
}

form {
	margin:0;
	padding:0;
}

input {
	margin:0;
	padding:0;
}

th, td {
	font-size: 95% !important;
	font-size: 80%;
	line-height: 160%;
}

ul,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}


@media screen and (max-width: 480px) {
    .pcv {
        display: none !important;
    }
}

@media screen and (min-width: 481px) {
    .spv {
        display: none !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 999px) {
    #top-head .spv {
        display: block !important;
    }
    
    #top-head .pcv {
        display: none !important;
    }
    
    header div.contact-tel {
        margin: 0 !important;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

.mgn-top30 {
    margin-top: 30px !important;
}


/* common
==================*/

body {
	width: 100%;
}

header.site-header{
    background: rgba(255,255,255,0.8);
    padding: 0;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 999;
}
 
header.site-header.hide{
    transform: translateY(-100%);
}

div#wrapper {
	position: relative;
	box-sizing: border-box;
	font-size: 125%;
	text-align: left;
	line-height: 1.8;
}

div#wrapper p#pagetop {
	display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

form#search-box {
    display: flex;
    margin: 0 auto;
    width: 85%;
    max-width: 850px;
}

form#search-box a {
    display: none;
}

form#search-box .l-header__input {
    width: 100%;
    padding: 0 14px;
    border: 1px solid #7d7d7d;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 120%;
    height: 45px;
}

form#search-box button {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
}

@media screen and (max-width: 999px) {
    form#search-box .l-header__input {
        font-size: 110%;
        height: 31px !important;
    }

    form#search-box button img {
        width: 70px;
        height: auto;
    }
    
    form#search-box {
        width: 90%;
    }
}



header section.inner h1 img {
    display: none;
}

header section.inner nav#global-nav ul li:nth-child(1) a {
    display: none;
}

footer section.inner ul#foot-link li:nth-child(1) a {
    display: none;
}

body#iei .dis-iei {
    display: block !important;
}

body#iei .dis-premico {
    display: none !important;
}

body#iei .dis-ieipre {
    display: none !important;
}

body#collection .dis-iei {
    display: block !important;
}

body#collection .dis-premico {
    display: none !important;
}

body#collection .dis-ieipre {
    display: none !important;
}

body#premico .dis-premico {
    display: block !important;
}

body#premico .dis-chara {
    display: none !important;
}

body#premico .dis-ieipre {
    display: none !important;
}

body#charaffine .dis-chara {
    display: block !important;
}

body#charaffine .dis-premico {
    display: none !important;
}

body#charaffine .dis-ieipre {
    display: none !important;
}

body#iei.c-goods .dis-iei {
    display: none !important;
}

body#iei.c-goods .dis-chara {
    display: none !important;
}

body#iei.c-goods .dis-premico {
    display: none !important;
}

body#iei.c-goods .dis-ieipre {
    display: block !important;
}

body#iei.media .dis-iei {
    display: none !important;
}

body#iei.media .dis-chara {
    display: none !important;
}

body#iei.media .dis-premico {
    display: none !important;
}

body#iei.media .dis-ieipre {
    display: block !important;
}

body#iei.c-goods footer .dis-iei {
    display: block !important;
}

body#iei.guide footer .dis-iei {
    display: block !important;
}

body#iei.media footer .dis-iei {
    display: block !important;
}

body#iei.keywords .dis-iei {
    display: none !important;
}

body#iei.keywords .dis-chara {
    display: none !important;
}

body#iei.keywords .dis-premico {
    display: none !important;
}

body#iei.keywords .dis-ieipre {
    display: block !important;
}

body#iei.keywords footer .dis-iei {
    display: block !important;
}

body#iei.guide .dis-iei {
    display: none !important;
}

body#iei.guide .dis-chara {
    display: none !important;
}

body#iei.guide .dis-premico {
    display: none !important;
}

body#iei.guide .dis-ieipre {
    display: block !important;
}



@media screen and (max-width: 480px) {
	section {
		width: 100%;
	}
	
	div#wrapper section#page-navi {
		position: fixed;
		width: 100%;
		margin: 0;
		bottom: 0;
		right: 0;
	}
    
    div#wrapper p#pagetop img {
        width: 80%;
        height: auto;
    }
    
    .arrow {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0 16px 0 0;
        color: #000;
        vertical-align: middle;
        text-decoration: none;
        font-size: 15px;
    }
    
    .arrow::before,
    .arrow::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
    }

    .ft-arrow::before {
        right: 3px;
        width: 8px;
        height: 8px;
        border-top: 2px solid currentColor;
        border-right: 2px solid currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}




/* header -iei
-------------------- */
header {
    margin: 20px 0 30px 0;
    padding: 0;
    position: relative;
    z-index: 9999;
}

header div.contact-tel {
    margin: 0 60px 0 0;
}

header div.contact-tel p.time {
    margin: 0;
    font-size: 90%;
    font-weight: bold;
    line-height: 1;
}

header div.contact-tel p.telno {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    text-align: center;
}

header div.contact-tel p.telno::before {
    display: inline;
    content: "";
    width: 29px;
    height: 29px;
    margin: 0;
    padding: 0 0 0 34px;
    background: url("../img/icon_tel.png") no-repeat left 4px;
    background-size: 29px;
}

header section.inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 5px auto;
}

header section.inner h1 {
    margin: 5px 0 0 0;
    font-size: 0;
}

header section.inner section#right-area {
    display: flex;
    margin: 0 0 0 auto;
    text-align: right;
}

header section.inner p#hd-cart {
    position: relative;
}

header section.inner p#hd-cart span#item-num {
    position: absolute;
    display: block;
    top: -6px;
    left: -12px;
    margin: 0;
    padding: 3px 8px;
    background: #ff9600;
    border-radius: 10px;
    color: #ffffff;
    font-size: 80%;
    line-height: 1;
}



@media screen and (max-width: 480px) {
	header {
        margin: 0 0 30px 0;
    }
    
    header div.contact-tel {
        margin: 0;
        padding: 70px 0 0 0;
        text-align: center;
    }
    
    header section.inner {
        position: fixed;
        display: block;
        margin: 0;
        padding: 14px 0 14px 0;
        width: 100%;
        height: 62px;
        background: #ffffff;
    }
    
    mobile-head {
    
    }
    
    header section.inner h1 {
      position: absolute;
      top: 14px;;
      left: 50%;
      margin: 0;
      transform: translateX(-50%);
    }
    
    header section.inner h1 img {
        width: 100%;
        height: auto;
    }
    
    header section.inner p#hd-cart {
        position: absolute;
        top: 16px;
        right: 20px;
        margin: 0;
    }
    
    header section.inner section#right-area {
        display: block;
        margin: 0;
        text-align: center;
    }
}



/* content - iei
-------------------- */
section#content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section#content img,
section#top-content img {
    max-width: 100%;
    height: auto;
}

section#content section#foot-atn p {
    margin-bottom: 15px;
}

section#content section#foot-atn div.contact-box {
    margin: 0 auto 20px auto;
    padding: 20px 20px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    text-align: center;
}

section#content section#foot-atn div.contact-box p.stit {
    margin: 0;
    font-size: 120%;
    font-weight: bold;
    line-height: 1;
}

section#content section#foot-atn div.contact-box p.time {
    margin: 0;
    font-size: 90%;
    font-weight: bold;
    line-height: 1;
}

section#content section#foot-atn div.contact-box p.telno {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 256%;
    text-align: center;
}

section#content section#foot-atn div.contact-box p.telno::before {
    display: inline;
    content: "";
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0 0 0 43px;
    background: url("../img/icon_tel.png") no-repeat left center;
    background-size: 38px;
}

@media screen and (max-width: 480px) {
    section#content {
        width: 90%;
    }
    
    section#content section#foot-atn div.contact-box p.stit {
        font-size: 100%;
    }
    
    section#content section#foot-atn div.contact-box p.telno {
        font-size: 200%;
    }
    
    section#content section#foot-atn div.contact-box p.telno::before {
        display: inline;
        content: "";
        width: 30px;
        height: 30px;
        padding: 0 0 0 34px;
        background-size: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 999px) {
    #wrapper {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}



/* footer - iei
-------------------- */
footer {
    margin: 100px 0 20px 0;
    padding: 0;
    background: #f2f2f2;
}

footer section.inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

footer section.inner ul#foot-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 35px 0;
    line-height: 1;
}

footer section.inner ul#foot-link li {
    width: 19%;
    margin: 0;
    text-align: center;
}

footer section.inner ul#foot-link li:nth-child(1) {
    width: 26%;
    margin-bottom: 30px;
}

footer section.inner ul#foot-link li:nth-child(2) {
    width: 15%;
    margin-bottom: 30px;
}

footer section.inner ul#foot-link li:nth-child(3) {
    width: 19%;
    margin-bottom: 30px;
}

footer section.inner ul#foot-link li:nth-child(4) {
    width: 25%;
    margin-bottom: 30px;
}

footer section.inner ul#foot-link li:nth-child(5) {
    width: 15%;
    margin-bottom: 30px;
    border-right: none;
}

footer section.inner ul#foot-link li:nth-child(6) {
    width: 16%;
}

body#premico footer section.inner ul#foot-link li:nth-child(6) {
    width: 26%;
}

footer section.inner ul#foot-link li:nth-child(7) {
    width: 35%;
    border: none;
}

footer section#foot-logo {
    margin: 0;
    padding: 20px 0 0 0;
    background: #ffffff;
}

footer section#foot-logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    line-height: 1;
}

footer section#foot-logo ul li:nth-child(1) {
    margin-right: 40px;
}

footer section#foot-logo address {
    font-size: 90%;
    font-style: normal;
    text-align: center;
}

footer section.inner ul#foot-sns-link {
    display: none;
}



@media screen and (max-width: 999px) {
    footer {
        margin: 40px 0 20px 0;
        padding: 0;
    }
    
    footer section.inner {
        width: 100%;
    }
    
    footer section.inner ul#foot-link {
        display: block;
        margin: 0;
        padding: 30px 20px;
    }

    footer section.inner ul#foot-link li {
        width: 100% !important;
        margin: 0 !important;
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid #c8c8c8;
        text-align: left;
    }

    footer section.inner ul#foot-link li:first-child {
        border-top: 1px solid #c8c8c8;
    }

    footer section.inner ul#foot-link li:last-child {
        border-bottom: 1px solid #c8c8c8;
    }
    
    footer section#foot-logo ul li:nth-child(1) {
        width: 12%;
    }
    
    footer section#foot-logo ul li:nth-child(2) {
        width: 24%;
    }
    
    footer section#foot-logo ul li img {
        width: 100%;
        height: auto;
    }
    
    footer section#foot-logo address {
        font-size: 70%;
    }
}


/* header - premico
-------------------- */
body#premico header div.contact-tel p.telno::before {
    background: url("../img/icon_tel_premico.png") no-repeat left 4px;
    background-size: 29px;
}

body#premico #nav-toggle span {
    background: #004896;
}

body#premico #global-nav ul {
    border: 2px solid #004896;
}

body#premico #global-nav ul li a {
    color: #004896;
}


@media screen and (max-width: 480px) {
    body#premico header div.contact-tel {
        display: none;
    }
}
   



/* header - charaffine
-------------------- */
body#charaffine header div.contact-tel p.telno::before {
    background: url("../img/icon_tel_chara.png") no-repeat left center;
    background-size: 29px;
}

body#charaffine #nav-toggle span {
    background: #817069;
}

body#charaffine #global-nav ul {
    border: 2px solid #817069;
}

body#charaffine #global-nav ul li a {
    color: #817069;
}



/* content - premco
-------------------- */
body#premico section#content div.contact-box p.telno::before {
    background: url("../img/icon_tel_premico.png") no-repeat left center;
    background-size: 38px;
}

@media screen and (max-width: 480px) {
    body#premico section#content div.contact-box p.telno::before {
        background-size: 30px;
    }
}


/* content - charaffine
-------------------- */
body#charaffine section#content div.contact-box p.telno::before {
    background: url("../img/icon_tel_chara.png") no-repeat left center;
    background-size: 38px;
}

@media screen and (max-width: 480px) {
    body#charaffine section#content div.contact-box p.telno::before {
        background-size: 30px;
    }
}


/* content - c-goods
-------------------- */
body#iei.c-goods section#content div.contact-box p.telno::before {
    background: url("../img/icon_tel_premico.png") no-repeat left center;
    background-size: 38px;
}

@media screen and (max-width: 480px) {
    body#iei.c-goods section#content div.contact-box p.telno::before {
        background-size: 30px;
    }
}


/* footer - premco
-------------------- */
body#premico footer {
    background: transparent;
}

body#premico footer section#foot-area {
    background: #004896;
}

body#premico footer a {
    color: #ffffff !important;
}

body#premico footer section.inner ul#foot-link li:nth-child(1) {
    width: 16%;
}

body#premico footer section.inner ul#foot-link li:nth-child(6) {
    width: 26%;
}

body#premico footer section.inner ul#foot-sns-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 auto 25px auto;
    padding: 0;
    line-height: 1;
}

body#premico footer section.inner ul#foot-sns-link li {
    width: auto;
}

@media screen and (max-width: 480px) {
    body#premico footer section.inner ul#foot-sns-link {
        width: 80%;
    }
    body#premico footer section.inner ul#foot-sns-link li img {
        width: 90%;
        height: auto;
    }
}


/* footer - charaffine
-------------------- */
body#charaffine footer {
    background: #f8f4f2;
}

body#charaffine footer a {
    color: #817069 !important;
}







#global-nav {
    display: none;
}

/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}


@media screen and (max-width: 999px) {
    /* Fixed reset */
    #top-head.fixed {
        background: #ffffff;
    }
    #mobile-head {
        margin: 0 0 0 15px;
        width: 50px;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #global-nav {
        display: block;
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -515px;
        width: 100%;
        text-align: center;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: 1000;
    }
    #global-nav ul {
        position: static;
	    width: 90%;
        margin: 0 auto;
        padding: 10px 0 10px 20px;
        background: #ffffff;
        border: 2px solid #000000;
        border-radius: 5px;
        text-align: left;
    }
    #global-nav ul li {
        position: static;
        margin: 0;
        padding: 0;
        line-height: 3;
    }
    #nav-toggle {
        display: block;
		margin-top: -7px;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(572px);
        -webkit-transform: translateY(572px);
        transform: translateY(572px);
    }
}




/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
 
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
 
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
 
  /* IEサポート */
  font-feature-settings: 'liga';
}