@charset "utf-8";

/*contens-cart.css
==================
1.ページ共通

==================*/



/*1.ページ共通
==================*/

body.c-goods div.contact-tel {
    display: none;
}

body.c-goods div.contact-tel p.telno::before {
    background: url("../img/icon_tel_premico.png") no-repeat left 4px;
    background-size: 29px;
}

body.c-goods #content p {
    margin: 0;
}

body.c-goods #content a:link {
    color: #004896;
    text-decoration: underline;
}

body.c-goods #content  a:visited {
    color: #004896;
    text-decoration: underline;
}

body.c-goods #content a:active {
    color: #004896;
    text-decoration: none;
}

body.c-goods #content a:hover {
    color: #004896;
    text-decoration: none;
}

body.c-goods header form {
    display: none !important;
}

body.media header form {
    display: none !important;
}

::placeholder {
    color: #c8c8c8;
}

body.c-goods #content input[type="text"],
body.c-goods #content input[type="email"],
body.c-goods #content input[type="password"] {
    margin: 0;
    padding: 10px 12px 10px 12px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    font-size: 100%;
}

body.c-goods #content input[type="radio"] {
    accent-color: #ff9600;
}

body.c-goods #content select {
    margin: 0;
    padding: 10px 25px 10px 15px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    color: #7d7d7d;
    font-size: 120%;
}

body.c-goods #content button,
body.c-goods #content input.btn-input {
    margin: 0 auto;
    padding: 10px 20px;
    background: #004896;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

body.c-goods #content button:active,
body.c-goods #content button:hover {
    text-decoration: none;
}

body.c-goods #content .btn-link a {
    position: relative;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 12px 0;
    background: #004896;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

body.c-goods #content .btn-link a:active,
body.c-goods #content .btn-link a:hover {
    text-decoration: none;
}

body.c-goods #content .btn-link a::after {
    display: block;
    position: absolute;
    content: "";
    width: 21px;
    height: 28px;
    top: 18px;
    right: 10px;
    background: url("../img/icon_detail_arw.png") no-repeat;
}

body.c-goods #content section#progress {
    margin: 0 0 40px 0;
    text-align: center;
}

body.c-goods #content section#message {
    margin: 0 0 40px 0;
    border-bottom: 4px solid #eaeaea;
}

body.c-goods #content section#message h2 {
    margin: 0 0 16px 0;
}

body.c-goods #content section#message p {
    margin: 0 0 25px 0;
    font-size: 120%;
}

body.c-goods #content p.btn-back a {
    display: block;
    margin: 0 0 0 12px;
    padding: 5px 30px;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    white-space: nowrap;
    color: #7d7d7d;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
    
body.c-goods section#content section#foot-atn {
    display: none;
}



body.c-goods section#content p.consent {
    margin: 0 0 40px 0;
    padding: 0 0 0 20px;
}

body.c-goods section#content p.registered {
    margin: 20px 0 0 0;
    text-align: center;
}

body.c-goods #content p.btn-logout a {
    display: block;
    width: 140px;
    margin: 25px auto 0 auto;
    padding: 5px 30px;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    white-space: nowrap;
    color: #7d7d7d;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}



body.c-goods #content section#contact-box {
    margin: 0 0 30px 0;
    padding: 0 0 40px 0;
    border-bottom: 4px solid #eaeaea;
}

body.c-goods #content section#contact-box div.inner-box {
    display: flex;
    justify-content: space-around;
    margin: 0 0 40px 0;
}

body.c-goods #content section#contact-box div.inner-box dl {
    width: 48%;
    margin: 0;
    padding: 25px 25px;
    background: #f2f2f2;
    border-bottom: 10px;
}

body.c-goods #content section#contact-box div.inner-box dl dt {
    margin: 0 0 25px 0;
    font-weight: bold;
}

body.c-goods #content section#contact-box div.inner-box dl dd a {
    width: 90%;
}

body.c-goods #content section#contact-box div.inner-box dl.tel-box p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 256%;
    line-height: 1;
    text-align: center;
}

body.c-goods #content section#contact-box div.inner-box dl.tel-box p:before {
    display: inline;
    content: "";
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0 0 0 43px;
    background: url("../img/icon_tel.png") no-repeat left center;
    background-size: 38px;
}

body.c-goods #content section#contact-box div.inner-box dl.tel-box p a {
    color: #000000;
    text-decoration: none;
}

body.c-goods #content section#contact-box div.inner-box dl.tel-box p span {
    font-size: 15px;
}

body.c-goods #content input[type="submit"],
body.c-goods #content button {
    cursor: pointer;
}


body.c-goods #content .t-center {
    text-align: center;
}


@media screen and (max-width: 480px) {
    body.c-goods header {
        margin: 0;
    }
    
    body.c-goods div.contact-tel {
        display: none;
    }
    
    body.c-goods #content {
        padding-top: 95px;
    }
    
    body.c-goods #content section#progress img {
        width: 100%;
        height: auto;
    }
    
    body.c-goods #content p.btn-back a {
        padding: 5px 12px;
    }
    
    body.c-goods #content section#contact-box div.inner-box {
        display: block;
        margin: 0 0 30px 0;
    }

    body.c-goods #content section#contact-box div.inner-box dl {
        width: 100%;
        margin: 0 0 20px 0;
    }

    body.c-goods #content section#contact-box div.inner-box dl dt {
        margin: 0 0 10px 0;
    }
}



/*2.カート周り
==================*/

body.c-goods.cart #content section#message {
    display: flex;
    justify-content: space-between;
    font-size: 90%;
    align-items: center;
    margin: 0 0 20px 0;
}


body.c-goods #content section#item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 10px 20px 10px;
    border-bottom: 4px solid #eaeaea;
}

body.c-goods #content section#item-list ul {
    margin: 0;
    width: 100%;
}

body.c-goods #content section#item-list ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #eaeaea;
}

body.c-goods #content section#item-list ul li:last-child {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

body.c-goods #content section#item-list ul li div.p-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body.c-goods #content section#item-list ul li div.p-number p {
    margin: 0 0 20px 0;
}

body.c-goods #content section#item-list ul li div.p-number p.delete a {
    display: block;
    padding: 0 30px 0 0;
    background: url("../../cgi-bin/goods/img/icon_delete.png") no-repeat right 2px;
    background-size: 27px 28px;
    color: #000000;
    text-decoration: none;
}


body.c-goods #content section#item-list ul li p.image {
    width: 24%;
    max-width: 235px;
    margin: 0;
}

body.c-goods #content section#item-list ul li div.p-data {
    width: 70%;
    max-width: 720px;
    margin: 0 0 0 25px;
}

body.c-goods #content section#item-list ul li div.p-data p.cat {
    margin: 0;
}

body.c-goods #content section#item-list ul li div.p-data p.cat span.cat-pre {
    color: #004896;
}

body.c-goods #content section#item-list ul li div.p-data p.cat span.cat-kty {
    color: #cd0303;
}

body.c-goods #content section#item-list ul li div.p-data p.cat span.cat-snp {
    color: #8d4317;
}

body.c-goods #content section#item-list ul li div.p-data p.cat span.cat-mmn {
    color: #fdd228;
}

body.c-goods #content section#item-list ul li div.p-data p.cat span.cat-rbt {
    color: #8fc6ec;
}

body.c-goods #content section#item-list ul li div.p-data p.p-name {
    margin: 0 0 12px 0;
    font-size: 150%;
    font-weight: bold;
}

body.c-goods #content section#item-list ul li div.p-data p.p-select select {
    margin: 0 0 12px 20px;
}

body.c-goods #content section#item-list ul li div.p-data p.p-num {
    margin: 0 0 12px 0;
}

body.c-goods #content section#item-list ul li div.p-data p.p-num select {
    margin: 0;
    padding: 10px 25px 10px 15px;
    font-size: 120%;
}

body.c-goods #content section#item-list ul li div.p-data p.price {
    margin: 0;
    font-size: 150%;
    font-weight: bold;
}

body.c-goods #content section#item-list ul li div.p-data p.fee {
    margin: 0;
}


body.c-goods #content section#payment {
    margin: 0 0 20px 0;
    padding: 0 15px 20px 15px;
    border-bottom: 4px solid #eaeaea;
}

body.c-goods #content section#payment dl {
    margin: 0 0 30px 0;
}

body.c-goods #content section#payment dl dt {
    margin: 0 0 5px 0;
    font-weight: bold;
}

body.c-goods #content section#payment dl dd {
    margin: 0 0 30px 12px;
}

body.c-goods #content section#payment dl dd.coupon input {
    margin: 0 10px 0 0;
}

body.c-goods #content section#payment dl dd.coupon button {

}


body.c-goods #content section#accounting {
    margin: 0 0 40px 0;
    padding: 0;
}

body.c-goods #content section#accounting dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 40px 15px 40px;
    border-bottom: 1px solid #eaeaea;
}

body.c-goods #content section#accounting dl:nth-child(2){
    margin: 0;
    border-bottom: none;
}

body.c-goods #content section#accounting dl:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

body.c-goods #content section#accounting dl dt {
    width: 50%;
    margin: 0 0 5px 0;
}

body.c-goods #content section#accounting dl dd {
    width: 50%;;
    margin: 0 0 5px 0;
    text-align: right;
}

body.c-goods #content section#accounting dl.total {
    border-top: 4px solid #eaeaea;
}

body.c-goods #content section#accounting dl.total dt {
    font-weight: bold;
}

body.c-goods #content section#accounting dl.total dd {
    font-size: 200%;
    font-weight: bold;
}


body.c-goods #content section#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px 0;
    padding: 0 30px;
}

body.c-goods #content section#members p.mem-atn {
    margin: 0 auto 18px auto;
    font-weight: normal;
}

body.c-goods #content section#members p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

body.c-goods #content section#members div.login {
    width: 47%;
    max-width: 440px;
    margin: 0;
    padding: 0;
    text-align: center;
}

body.c-goods #content section#members div.login dl {
    margin: 0 0 20px 0;
    padding: 0;
    background: #none;
    border-radius: 10px;
    text-align: left;
}

body.c-goods #content section#members div.login dl dt {
    margin: 0 0 5px 0;
    font-weight: bold;
}

body.c-goods #content section#members div.login dl dd {
    margin: 0 0 10px 0;
    padding: 0 0 0 12px;
}

body.c-goods #content section#members div.login dl dd:last-child {
    margin: 0;
}

body.c-goods #content section#members div.login dl dd input {
    width: 100%;
}

body.c-goods #content section#members div.login .btn-link a {
    width: 312px;
}

body.c-goods #content section#members div.register {
    width: 47%;
    max-width: 440px;
    margin: 0;
    padding: 0;
    text-align: center;
}

body.c-goods #content section#members div.register .btn-link a {
    width: 312px;
}


body.c-goods #content section#info-input {
    margin: 0 0 60px 0;
    padding: 0 10px;
}

body.c-goods #content section#info-input dl {
    margin: 0 0 40px 0;
    padding: 0;
}

body.c-goods #content section#info-input dl dt {
    margin: 0 0 12px 0;
    padding: 0 10px;
    font-weight: bold;
}

body.c-goods #content section#info-input dl dt.credit-input {
    font-weight: normal;
}

body.c-goods #content section#info-input dl dt span.req {
    color: #ff9600;
}

body.c-goods #content section#info-input dl dd {
    margin: 0 0 24px 0;
    padding: 0 20px 0 20px;
}

body.c-goods #content section#info-input dl dd.bdr-btm {
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}

body.c-goods #content section#info-input dl dd input.name {
    width: 250px;
}

body.c-goods #content section#info-input dl dd input.zip01 {
    width: 90px;
}

body.c-goods #content section#info-input dl dd input.zip02 {
    width: 120px;
}

body.c-goods #content section#info-input dl dd input.address01 {
    width: 220px;
}

body.c-goods #content section#info-input dl dd input.address02 {
    width: 390px;
}

body.c-goods #content section#info-input dl dd input.address03 {
    width: 620px;
}

body.c-goods #content section#info-input dl dd input.tel {
    width: 90px;
}

body.c-goods #content section#info-input dl dd input.mail {
    width: 480px;
}

body.c-goods #content section#info-input dl dd textarea.remarks {
    width: 100%;
}

body.c-goods #content section#info-input dl dd input.p-num {
    width: 360px;
}

body.c-goods #content section#info-input dl dd input.atn {
    background: #fff8fa;
    border: 1px solid #bd002c;
}

body.c-goods #content section#info-input dl dd span.atn {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0 0 0 34px;
    background: url("../../cgi-bin/goods/img/icon_atn.png") no-repeat left center;
    color: #bd002c;
    line-height: 1.4;
}

body.c-goods #content section#info-input dl dd p.privacy-area {
    width: 100%;
    height: 300px;
    padding: 20px 30px;
    border: 1px solid #eaeaea;
    overflow: scroll;
}

body.c-goods #content section#info-input .btn-link a {
    width: 360px;
}

body.c-goods #content section#info-input div.personal {
    margin: 0 0 40px 0;
    text-align: center;
}

body.c-goods #content section#info-input div.personal p.btn-link {
    margin: 40px 0 0 0;
}


body.c-goods #content section#info-input div.personal p input[type="checkbox"] {
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    color: #7d7d7d;
}


body.c-goods #content section#thanks {
    margin: 0 0 70px 0;
    color: #7c7c7c;
    text-align: center;
}

body.c-goods #content section#thanks h2 {
    font-size: 200%;
}

body.c-goods #content section#thanks .btn-link a {
    width: 360px;
    margin: 70px auto 0 auto;
}


@media screen and (max-width: 480px) {
    body.c-goods #content select {
        padding: 5px 15px 5px 10px;
        background: #ffffff;
        font-size: 100%;
    }
    
    body.c-goods #content section#item-list {
        padding-left: 0;
        padding-right: 0;
    }
    
    body.c-goods #content section#item-list ul li p.image {
        width: 27%;
    }
    
    body.c-goods #content section#item-list ul li p.image img {
        width: 100%;
        height: auto;
    }
    
    body.c-goods #content section#item-list ul li div.p-data p.p-name {
        font-size: 120%;
    }
    
    body.c-goods #content section#item-list ul li div.p-data p.p-num select {
        padding: 5px 15px 5px 10px;
    }
    
    body.c-goods #content section#item-list ul li div.p-data p.price {
        font-size: 120%;
    }

    body.c-goods #content section#item-list ul li div.p-data {
        width: 70%;
        margin: 0 0 0 3%;
    }
    
    body.c-goods #content section#payment {
        padding-left: 0;
        padding-right: 0;
    }
    
    body.c-goods #content section#accounting dl {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    body.c-goods #content section#accounting dl.total dd {
        font-size: 150%;
    }
    
    body.c-goods #content section#members {
        display: block;
        margin: 0;
        padding: 0;
    }

    body.c-goods #content section#members div.login {
        width: 100%;
    }

    body.c-goods #content section#members div.login .btn-link a {
        width: 90%;
    }

    body.c-goods #content section#members div.register .btn-link a {
        width: 90%;
    }

    body.c-goods #content section#members div.register {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    body.c-goods #content section#info-input {
        padding: 0;
    }
    
    body.c-goods #content section#info-input dl dt {
        padding: 0;
    }
    
    body.c-goods #content section#info-input dl dd {
        padding: 0 10px;
    }
    
    body.c-goods #content section#info-input dl dd span.atn {
        margin: 10px 0 0 0;
    }
    
    body.c-goods #content section#info-input dl dd input.name {
        width: 30%;
    }

    body.c-goods #content section#info-input dl dd input.zip01 {
        width: 18%;
    }

    body.c-goods #content section#info-input dl dd input.zip02 {
        width: 21%;
    }

    body.c-goods #content section#info-input dl dd input.address01 {
        width: 40%;
    }

    body.c-goods #content section#info-input dl dd input.address02 {
        width: 55%;
    }

    body.c-goods #content section#info-input dl dd input.address03 {
        width: 100%;
    }

    body.c-goods #content section#info-input dl dd input.tel {
        width: 24%;
    }

    body.c-goods #content section#info-input dl dd input.mail {
        width: 100%;
    }

    body.c-goods #content section#info-input dl dd input.p-num {
        width: 100%;
    }
    
    body.c-goods #content section#info-input dl dd p.privacy-area {
        padding: 10px 15px;
    }
    
    body.c-goods #content section#info-input .btn-link a {
        width: 90%;
    }
    
    body.c-goods #content section#thanks h2 {
        font-size: 150%;
    }
    
    body.c-goods #content section#thanks p {
        font-size: 90%;
    }
    
    body.c-goods #content section#thanks .btn-link a {
        width: 90%;
    }
}


@media only screen and (min-width: 481px) and (max-width: 999px) {
    body.c-goods #content section#members {
        display: block;
        margin: 0;
        padding: 0;
    }

    body.c-goods #content section#members div.login {
        width: 100%;
        margin: 0 auto;
    }

    body.c-goods #content section#members div.login .btn-link a {
        width: 90%;
    }

    body.c-goods #content section#members div.register .btn-link a {
        width: 90%;
    }

    body.c-goods #content section#members div.register {
        width: 100%;
        margin: 30px auto 50px auto;
    }
}




/*3. ダイレクトメール
==================*/

body.c-goods.itemno #content p.btn-back a {
    width: 120px;
    margin: 40px auto 40px auto;
}

body.c-goods.itemno #content section#info-input dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 20px 30px 20px;
}

body.c-goods.itemno #content section#info-input dt {
    width: 70px;
    margin: 0 0 15px 0;
    white-space: nowrap;
    vertical-align: top;
}

body.c-goods.itemno #content section#info-input dd {
    width: 870px;
    margin: 0 0 15px 0;
}



@media screen and (max-width: 480px) {
    body.c-goods.itemno #content section#info-input dl {
        margin: 0 0 30px 0;
    }
    
    body.c-goods.itemno #content section#info-input dt {
        width: 14%;
    }

    body.c-goods.itemno #content section#info-input dd {
        width: 80%;
    }
    
    body.c-goods #content section#info-input div#itemno_ex p img {
        width: 100%;
        height: auto;
    }
}



/*4. 検索機能
==================*/

body#iei.keywords section#content section#message {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

body#iei.keywords section#content section#message h2 {
    margin: 0;
}

body#iei.keywords section#content section#message p {
    margin: 0;
}

body#iei.keywords section#content section#item-list {
    margin: 0 0 20px 0;
    padding: 0;
}

body#iei.keywords section#content section#item-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

body#iei.keywords section#content section#item-list ul li {
    width: 230px;
    margin: 0 10px 20px 10px;
    padding: 0;
}

body#iei.keywords section#content section#item-list ul li p {
    margin: 0;
    padding: 0;
}

body#iei.keywords section#content section#item-list ul li p.image {
    margin: 0 ;
    line-height: 1;
}

body#iei.keywords section#content section#item-list ul li p.image img {
    width: 100%;
    height: auto;
    border: 1px solid #efefef;
}

body#iei.keywords section#content section#item-list ul li div.text {
    width: 240px;
    line-height: 1.6;
}

body#iei.keywords section#content section#item-list ul li div.text p.cat {
    font-size: 80%;
}

body#iei.keywords section#content section#item-list ul li div.text p.cat span.cat-snp {
    color: #8d4317;
}

body#iei.keywords section#content section#item-list ul li div.text p.cat span.cat-mmn {
    color: #fdd228;
}

body#iei.keywords section#content section#item-list ul li div.text p.cat span.cat-rbt {
    color: #8fc6ec;
}

body#iei.keywords section#content section#item-list ul li div.text p.cat span.cat-kty {
    color: #cd0303;
}

body#iei.keywords.error header form#search-box {
    display: none;
}

body#iei.keywords section#content section#error {
    margin:  0 0 110px 0;
    color: #7d7d7d;
    text-align: center;
}

body#iei.keywords section#content section#error h2 {
    margin:  0 0 20px 0;
    font-size: 180%;
}

body#iei.keywords section#content section#error p {
    margin:  0;
}

body#iei.keywords section#content section#error p.icon {
    margin:  0 0 30px 0;
}

body#iei.keywords section#content section#error p.text {
    margin:  0 0 50px 0;
}

body#iei.keywords section#content section#error form#search-box img {
    max-width: inherit;
}

body#iei.keywords section#content section#error form#search-box .l-header__input {
    height: 45px;
}

body#iei.keywords section#content ul#page-navi {
    margin: 0 0 60px 0;
}

@media screen and (max-width: 480px) {
    body#iei.keywords section#content section#message {
        display: block;
        margin: 0 0 10px 0;
    }

    body#iei.keywords section#content section#message p {
        text-align: right;
    }
    
    body#iei.keywords section#content section#item-list ul {
        display: block;
    }

    body#iei.keywords section#content section#item-list ul li {
        display: flex;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d4ccc9;
    }

    body#iei.keywords section#content section#item-list ul li:first-child {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #d4ccc9;
    }

    body#iei.keywords section#content section#item-list ul li p.image {
        width: 30%;
        margin: 0 10px 0 0;
    }

    body#iei.keywords section#content section#item-list ul li div.text {
        width: 67%;
    }
    
    body#iei.keywords section#content section#error h2 {
        font-size: 140%;
    }
    
    body#iei.keywords section#content section#error form#search-box .l-header__input {
        height: 31px;
    }
}



body.c-goods.agreement #content h3 {
    margin: 0 0 30px 0;
    font-size: 16px;
}

body.c-goods.agreement #content p {
    margin: 0 0 40px 0;
    font-size: 16px;
}

body.c-goods.agreement #content ol {
    margin: 0 0 40px 0;
    padding: 0 0 0 20px;
    font-size: 16px;
}



/*4. 住所からの入力
==================*/

body.c-goods.address {
    margin: 25px 0;
    vertical-align: top;
}

body.c-goods.address #content {
}

body.c-goods.address #content section#info-input {
    padding: 0;
}

body.c-goods.address #content section#info-input h2 {
    margin: 0 0 10px 0;
}

body.c-goods.address #content section#info-input p {
    margin: 0 0 10px 0;
}

body.c-goods.address #content section#info-input div.add-inner {
    display: flex;
    align-items: flex-end;
    margin: 0 0 30px 0;
}

body.c-goods.address #content section#info-input div.add-inner dl {
    margin: 0 20px 0 0;
    padding: 0;
}

body.c-goods.address #content section#info-input div.add-inner dl dt {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: normal;
}

body.c-goods.address #content section#info-input div.add-inner dl dd {
    margin: 0;
    padding: 0;
}

body.c-goods.address #content section#info-input div.add-inner dl dd input.address01 {
    max-width: 130px;
}

body.c-goods.address #content section#info-input div.add-inner dl dd input.address02 {
    max-width: 290px;
    width: 100%;
}

body.c-goods.address #content section#info-input div.add-inner dl dd select {
    padding: 7.5px 20px 7.5px 10px;
}

body.c-goods.address #content section#info-input div.add-inner p.btn-link {
    margin: 0;
}

body.c-goods.address #content section#info-input ul.add-list {
    margin: 0 0 15px 0;
    padding: 20px 10px;
    border-top: 4px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    line-height: 2;
}

body.c-goods.address #content section#info-input div.personal p.btn-link {
    margin: 0;
}

body.c-goods.address #content section#info-input div.personal p.btn-link input {
    width: 120px;
}

body.c-goods.address #content section#info-input dl dd {
    white-space: nowrap;
}

body.c-goods.address #content section#info-input dl dd input.zip01 {
    max-width: 90px;
    width: 80%;
}

body.c-goods.address #content section#info-input dl dd input.zip02 {
    max-width: 120px;
    width: 90%;
}


/*4. 購入履歴
==================*/

body.c-goods.history #content table {
    width: 100%;
    margin: 0 0 30px 0;
    border-top: 4px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
}

body.c-goods.history #content table tr th {
    padding: 10px 0;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}

body.c-goods.history #content table tr td {
    padding: 20px 10px;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}

body.c-goods.history #content table tr td a {
    color: #007aff;
}

body.c-goods.history #content table tr td.item_thum img {
    border: 1px solid #eaeaea;
}

body.c-goods.history #content table tr td:nth-child(1) {
    padding-left: 20px;
    padding-right: 10px;
}

body.c-goods.history #content table tr td:nth-child(4) {
    padding-left: 10px;
    padding-right: 20px;
}

body.c-goods.history #content table tr td:nth-child(3) {
    text-align: left;
}

body.c-goods.history #content table tr:last-child td {
    border-bottom: none;
}

body.c-goods.history #content table.history-list tr:nth-child(odd) td {
    background: #f7fbff;
}


body.c-goods.history #content section#message {
    margin: 0 0 5px 0;
    border-bottom: none;
}

body.c-goods.history #content section#message p {
    font-size: 16px;
}

body.c-goods.history #content p.result {
    margin: 0 0 10px 0;
    text-align: right;
}

body.c-goods.history #content section#message.history-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.c-goods.history #content section#message.history-detail p {
    
}


@media screen and (max-width: 480px) {
    body.c-goods.history #content table {
    }

    body.c-goods.history #content table tr th {
        padding: 5px 20px;
        border-bottom: none;
        white-space: nowrap;
        text-align: left;
        vertical-align: top;
    }

    body.c-goods.history #content table tr td.item_thum {
        vertical-align: top;
    }

    body.c-goods.history #content table tr td.item_thum img {
        width: 150px;
        height: auto;
    }
    
    body.c-goods.history #content table tr td:nth-child(1) {
        padding-left: 0;
        padding-right: 0;
    }

    body.c-goods.history #content table tr td {
        padding: 5px 20px;
        border-bottom: none;
        text-align: left;
    }

    body.c-goods.history #content table tr td br {
        display: none;
    }

    body.c-goods.history #content table tr.bdr-btm th,
    body.c-goods.history #content table tr.bdr-btm td {
        border-bottom: 2px solid #eaeaea;
    }

    body.c-goods.history #content table.history-list tr:nth-child(odd) td {
        background: #ffffff;
    }

    body.c-goods.history #content table.history-detail tr th,
    body.c-goods.history #content table.history-detail tr td {
        padding: 5px 5px;
    }
}




/* 新聞・雑誌に掲載中の商品
==================*/

body#iei.media section#content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    padding: 0;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    text-align: center;
    line-height: 1.0;
}

body#iei.media section#content h2::before,
body#iei.media section#content h2::after {
    content: "";
    border-top: 1px solid #000000;
    width: 5em;
}

body#iei.media section#content h2::before {
    margin-right: 2em;
}

body#iei.media section#content h2::after {
    margin-left: 2em;
}

body#iei.media section#content h2 span {
    display: contents;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body#iei.media section#content p.result {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c8c8c8;
    text-align: right;
}

body#iei.media section#content section#item-list ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #c8c8c8;
}

body#iei.media section#content section#item-list ul li div.pdt-wrap {
    width: 22.5%;
}

body#iei.media section#content section#item-list ul li div.pdt-wrap p {
    margin: 0;
}

body#iei.media section#content section#item-list ul li div.pdt-wrap p.image {
    margin: 0 0 10px 0;
    text-align: center;
}

body#iei.media section#content ul#page-navi li.on a {
    background: #004896;
}

body#iei.media section#content ul#page-navi {
    margin: 0 0 80px 0;
}





@media screen and (max-width: 480px) {
    body#iei.media section#content h2 {
        font-size: 28px;
    }
    
    body#iei.media section#content h2::before,
    body#iei.media section#content h2::after {
        width: 2em;
    }

    body#iei.media section#content h2::before {
        margin-right: 1em;
    }

    body#iei.media section#content h2::after {
        margin-left: 1em;
    }
    
    body#iei.media section#content section#item-list ul li div.pdt-wrap {
        width: 45.0%;
    }
}








