@charset "utf-8";

/*conten.css
==================
1.Charaffine

1-2.Charaffine - moomin



==================*/



/*0. common
==================*/

.chara-index header,
.product header {
    margin-bottom: 0;
}

body.chara-index p.bread-clumbs {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

section#top-content p.bread-clumbs,
section#content p.bread-clumbs {
    margin: 0 0 30px 0 !important;
}

section#top-content p.bread-clumbs a:link,
section#content p.bread-clumbs a:link,
section#top-content p.bread-clumbs a:visited,
section#content p.bread-clumbs a:visited {
    text-decoration: underline;
}

section#top-content p.bread-clumbs a:hover,
section#content p.bread-clumbs a:hover,
section#top-content p.bread-clumbs a:active,
section#content p.bread-clumbs a:active {
    text-decoration: none;
}

section#content ul#page-navi {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    line-height: 1;
}

section#content ul#page-navi li a {
    display: block;
    margin: 0 5px;
    padding: 10px 14px;
    color: #7d7d7d;
}

section#content ul#page-navi li.on a {
    background: #7d7d7d;
    border-radius: 5px;
    color: #ffffff;
}

body.snoopy section#content ul#page-navi li a {
    color: #c0162d;
}

body.snoopy section#content ul#page-navi li.on a {
    background: #c0162d;
    color: #ffffff;
}

body.moomin section#content ul#page-navi li a {
    color: #4fa250;
}

body.moomin section#content ul#page-navi li.on a {
    background: #4fa250;
    color: #ffffff;
}

body.peterrabbit section#content ul#page-navi li a {
    color: #0b2e54;
}

body.peterrabbit section#content ul#page-navi li.on a {
    background: #0b2e54;
    color: #ffffff;
}

body.kitty section#content ul#page-navi li a {
    color: #d6195c;
}

body.kitty section#content ul#page-navi li.on a {
    background: #d6195c;
    color: #ffffff;
}


body.genl-index section#top-content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    padding: 0;
}

body.genl-index section#top-content h1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body.genl-index section#content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    padding: 0;
    color: #745424;
    font-size: 36px;
    font-weight: 500;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    text-align: center;
    line-height: 1.0;
}

body.genl-index section#content h2::before,
body.genl-index section#content h2::after {
    content: "";
    border-top: 1px solid #745424;
    width: 5em;
}

body.genl-index section#content h2::before {
    margin-right: 2em;
}

body.genl-index section#content h2::after {
    margin-left: 2em;
}

body.genl-index section#content h2 span {
    display: contents;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body.genl-index section#content p.intro {
    margin: 0 0 50px 0;
    line-height: 2;
    text-align: center;
}

body.genl-index section#content section#chara-cat {
    margin: 0 0 40px 0;
    padding: 0;
    line-height: 1;
}

body.genl-index section#content section#chara-cat ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

body.genl-index section#content section#chara-cat ul li {
    width: 49%;
    margin: 0;
    padding: 0;
}

body.genl-index section#content section#chara-cat ul li dl {
    margin: 0;
    padding: 0;
}

body.genl-index section#content section#chara-cat ul li dl dt {
    margin: 0 0 10px 0;
    padding: 0;
}

body.genl-index section#content section#chara-cat ul li dl dd {
    margin: 0 0 20px 0;
    padding: 0;
}


body.genl-index section#content section#new-pdt {
    margin: 0 0 40px 0;
    padding: 0;
}

body.genl-index section#content section#new-pdt ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

body.genl-index section#content section#new-pdt ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 49%;
    margin: 0 0 20px 0;
    padding: 0;
}

body.genl-index section#content section#new-pdt ul li p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

body.genl-index section#content section#new-pdt ul li p.image {
    width: 46%;
    max-width: 230px;
    margin: 0 20px 10px 0;
    line-height: 1;
}

body.genl-index section#content section#new-pdt ul li p.image img {
    width: 100%;
    height: auto;
    border: 1px solid #efefef;
}

body.genl-index section#content section#new-pdt ul li div.text {
    width: 48%;
    max-width: 240px;
    line-height: 1.6;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat {
    font-size: 80%;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat span.cat-snp {
    color: #8d4317;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat span.cat-mmn {
    color: #fdd228;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat span.cat-rbt {
    color: #8fc6ec;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat span.cat-kty {
    color: #cd0303;
}

body.genl-index section#content section#new-pdt ul li div.text p.cat span.cat-colle {
    color: #000000;
}


@media (min-width: 461px) and (max-width: 999px){
    body.chara-index p.bread-clumbs {
        width: 90%;
    }
    
    body.genl-index section#content section#new-pdt ul {
        display: block;
    }

    body.genl-index section#content section#new-pdt ul li {
        display: flex;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d4ccc9;
    }
    
    body.genl-index section#content section#new-pdt ul li p.image {
        width: 25%;
        max-width: 25%;
    }
    
    body.genl-index section#content section#new-pdt ul li div.text {
        width: 70%;
        max-width: 70%;
    }
}


@media screen and (max-width: 480px) {
    body.chara-index p.bread-clumbs {
        width: 90%;
    }
    
    body.genl-index section#content h2 {
        font-size: 28px;
    }
    
    body.genl-index section#content h2::before,
    body.genl-index section#content h2::after {
        width: 2em;
    }

    body.genl-index section#content h2::before {
        margin-right: 1em;
    }

    body.genl-index section#content h2::after {
        margin-left: 1em;
    }
    
    body.genl-index section#top-content {
        width: 100%;
    }
    
    body.genl-index section#top-content img {
        width: 100%;
        height: auto;
    }
    
    section#top-content p.bread-clumbs,
    section#content p.bread-clumbs {
        width: 94%;
        margin: 0 auto 20px auto !important;
    }
    
    body.product section#content {
        width: 100%;
    }
    
    body.product section#content img {
        width: 100%;
        height: auto;
    }
    
    body.genl-index section#content {
        font-size: 100%;
    }
    
    body.genl-index section#content img {
        width: 100%;
        height: auto;
    }
    
    body.genl-index section#content h1 {
        margin: 0 0 20px 0;
    }
    
    body.genl-index section#content p.intro {
        text-align: left;
    }
    
    body.genl-index section#content p.intro br {
        display: none;
    }
    
    body.genl-index section#content section#chara-cat ul {
        display: block;
    }

    body.genl-index section#content section#chara-cat ul li {
        width: 100%;
    }
    
    body.genl-index section#content section#new-pdt ul {
        display: block;
    }

    body.genl-index section#content section#new-pdt ul li {
        display: flex;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d4ccc9;
    }

    body.genl-index section#content section#new-pdt ul li:first-child {
        margin-top: 0;
    }

    body.genl-index section#content section#new-pdt ul li p.image {
        width: 30%;
        margin: 0 10px 0 0;
    }

    body.genl-index section#content section#new-pdt ul li div.text {
        width: 67%;
    }
}



/*1.slider
==================*/

section#slide-area {
    position: relative;
    margin: 0 0 40px 0;
    z-index: 200;
}

section#slide-area ul.slider01 {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

section#slide-area .arrow_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
    margin: auto;
    z-index: 300;
}

div.slide-bnr-area .arrow_box02,
div.slide-bnr-area .arrow_box03 {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    z-index: -100;
}

section#slide-area .prev-arrow,
section#slide-area .next-arrow {
    display: block;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #b2b2b2;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position:relative;
}

section#slide-area .prev-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
}

section#slide-area .prev-arrow::before,
section#slide-area .next-arrow::before{
    position:absolute;
    content: "";
    width:10px;
    height:10px;
    border-right: 4px solid #b2b2b2;
    border-top: 4px solid #b2b2b2;
    top:0;
    bottom:0;
    left:-2px;
    right:0;
    margin:auto;
    transform:rotate(45deg);
}


div.slide-bnr-area .prev-arrow,
div.slide-bnr-area .next-arrow {
    display: block;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #b2b2b2;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position:relative;
}

div.slide-bnr-area .prev-arrow {
    transform: rotate(180deg);
    margin-right: 20px;
}

div.slide-bnr-area .prev-arrow::before,
div.slide-bnr-area .next-arrow::before{
    position:absolute;
    content: "";
    width:10px;
    height:10px;
    border-right: 4px solid #b2b2b2;
    border-top: 4px solid #b2b2b2;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    transform:rotate(45deg);
}

section#slide-area .slick-dots {
    bottom: -30px;
}

section#slide-area .slick-dots li button:before {
    font-size: 12px;
    line-height: 20px;

    width: 20px;
    height: 20px;

    color: #e5e5e5;
    opacity: 1;
}

section#slide-area .slick-dots li.slick-active button:before {
    color: #004896;
    opacity: 1;
}

section#slide-area ul.slider01 li {
    padding: 0 35px;
}

div.slide-bnr-area ul.slider02 li,
div.slide-bnr-area ul.slider03 li {
    padding: 0 1px;
}

section#slide-area ul.slider01 ul.slick-dots li {
    padding: 0;
}


@media screen and (max-width: 480px) {
    section#content img {
        max-width: 100%;
        height: auto;
    }
    
    section#slide-area .arrow_box {
        width: 96%;
    }

    div.slide-bnr-area .arrow_box02,
    div.slide-bnr-area .arrow_box03 {
        display: none;
    }
    
    section#slide-area ul.slider01 {
        margin: 0 auto;
        width: 100%;
    }
    
    section#slide-area ul.slider01 div.slick-list img {
        width: 100vw;
        height: auto;
    }
}




/*1.Charaffine
==================*/

body#charaffine {
    color: #594028;
}

body#charaffine header section.inner h1 {
    width: 197px;
}

body#charaffine header section.inner h1 img {
    width: 100%;
    height: auto;
}



@media screen and (max-width: 480px) {
    body#charaffine header section.inner h1 {
        width: 172px;
    }
}


/*1-2.Charaffine - Chara-Index
==================*/
body.chara-index section#content h1 {
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
}

body.chara-index section#content p.result-list {
    margin: 0 0 12px 0;
    padding: 0;
    text-align: right;
}

body.chara-index section#content ul#item-list {
    margin: 0 0 75px 0;
    padding: 0;
}

body.chara-index section#content ul#item-list li {
    display: flex;
    padding: 25px 30px;
    background: #ffffff;
    border-bottom: 1px solid #d4ccc9;
}

body.chara-index section#content ul#item-list li:first-child {
    border-top: 1px solid #d4ccc9;
}

body.chara-index section#content ul#item-list li p.image {
    width: 375px;
    margin: 0 30px 0 0;
    line-height: 1;
}

body.chara-index section#content ul#item-list li p.image img {
    width: 100%;
    height: auto;
}

body.chara-index section#content ul#item-list li div.text-area {
    width: 535px;
}

body.chara-index section#content ul#item-list li div.text-area dl {
    margin: 0;
    padding: 0;
    font-size: 120%;
}

body.chara-index section#content ul#item-list li div.text-area dl dt {
    margin: 0 0 10px 0;
    font-size: 105%;
    font-weight: bold;
}

body.chara-index section#content ul#item-list li div.text-area dl dd {
    margin: 0 0 20px 0;
    font-size: 84%;
    padding: 0;
}

body.chara-index section#content ul#item-list li div.text-area p.btn-link a {
    position: relative;
    display: block;
    width: 260px;
    margin: 0 auto;
    padding: 6px 0;
    border-radius: 40px;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

body.chara-index section#content ul#item-list li div.text-area p.btn-link a:active,
body.chara-index section#content ul#item-list li div.text-area p.btn-link a:hover {
    text-decoration: none;
}

body.chara-index section#content ul#item-list li div.text-area p.btn-link a::after {
    display: block;
    position: absolute;
    content: "";
    width: 21px;
    height: 28px;
    top: 9px;
    right: 10px;
    background: url("../img/icon_detail_arw.png") no-repeat;
}


@media screen and (max-width: 480px) {
    body.chara-index section#content h1 {
        width: 60%;
        margin: 0 auto 10px auto;
    }
    
    body.chara-index section#content h1 img {
        width: 100%;
        height: auto;
    }

    body.chara-index section#content ul#item-list {
        margin: 0 0 40px 0;
    }
    
    body.chara-index section#content ul#item-list li {
        display: block;
        padding: 20px 0 20px 0;
    }
    
    body.chara-index section#content ul#item-list li:first-child {
        padding-top: 20px;
    }

    body.chara-index section#content ul#item-list li p.image {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    body.chara-index section#content ul#item-list li p.image img {
        max-width: 100%;
        height: auto;
    }

    body.chara-index section#content ul#item-list li div.text-area {
        width: 100%;
    }

    body.chara-index section#content ul#item-list li div.text-area p.btn-link a {
        width: 70%;
    }
}


/*1-2.Charaffine - moomin
==================*/
body.moomin section#content ul#item-list li div.text-area dl dt {
    color: #4fa250;
}

body.moomin section#content ul#item-list li div.text-area p.btn-link a {
    background: #4fa250;
}


/*1-3.Charaffine - Peterrabbit
==================*/
body.peterrabbit section#content ul#item-list li div.text-area dl dt {
    color: #0b2e54;
}

body.peterrabbit section#content ul#item-list li div.text-area p.btn-link a {
    background: #0b2e54;
}


/*1-4.Charaffine - Snoopy
==================*/
body.snoopy section#content ul#item-list li div.text-area dl dt {
    color: #000000;
}

body.snoopy section#content ul#item-list li div.text-area p.btn-link a {
    background: #c0162d;
}


/*1-5.Charaffine - Kitty
==================*/
body.kitty section#content ul#item-list li div.text-area dl dt {
    color: #d6195c;
}

body.kitty section#content ul#item-list li div.text-area p.btn-link a {
    background: #d6195c;
}


/*1-6.Collection - mens
==================*/
body#collection {
    color: #000000;
}

body#collection a {
    color: #000000;
}

body.mens section#content ul#item-list li div.text-area dl dt {
    color: #000000;
}

body.mens section#content ul#item-list li div.text-area p.btn-link a {
    background: #f17700;
}






/*2-1. Product - Common
==================*/

body.chara-index header form,
body.product header form {
    display: none !important;
}

body.product section#content h1 {
    margin: 0 0 15px 0;
}

body.product section#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    padding: 0;
}

body.product section#gallery h2 {
    width: 100%;
    margin: 0 0 10px 0;
    line-height: 1;
}

body.product section#gallery p.image {
    width: 69.8%;
    max-width: 698px;
    margin: 0;
}

body.product section#gallery div.photo-area {
    width: 27%;
    max-width: 270px;
    margin: 0;
    padding: 0;
}

body.product section#gallery div.photo-area ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body.product section#gallery div.photo-area ul li {
    display: flex;
    margin: 0 1% 10px 0;
    cursor: pointer;
}

body.product #content ul.btn-telbuy {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    padding: 0;
    line-height: 0;
}

body.product #content ul.btn-telbuy li {
    width: 500px;
}

body.product #content ul.btn-telbuy li.cart a {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body.product #content ul.btn-telbuy li.cart a:active,
body.product #content ul.btn-telbuy li.cart a:hover {
    text-decoration: none;
}

body.product #content p.pdt-dscrptn {
    margin: 0 0 40px 0;
    line-height: 0;
}

body.product section#price_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 30px auto;
    padding: 0;
}

body.product section#price_area h2 {
    width: 100%;
    margin: 0 0 10px 0;
}

body.product section#price_area p.image {
    width: 44%;
    max-width: 440px;
    margin: 0 0 20px 0;
    text-align: center;
}

body.product section#price_area div.text-area {
    width: 47%;
    max-width: 470px;
    margin: 0;
}

body.product section#price_area div.text-area h3 {
    margin: 0 0 25px 0;
    padding: 0 0 0 20px;
    border-left: 8px solid #cf8b42;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

body.product section#price_area div.text-area p {
    margin: 0 0 5px 0;
}

body.product section#price_area div.text-area p.price {
    font-size: 120%;
}

body.product section#price_area div.text-area p.price span {
    font-size: 120%;
}

body.product section#price_area div.text-area p.credit {
    font-size: 95%;
}

body.product section#price_area div.text-area p.fee {
    margin: 0 0 15px 0;
    font-size: 95%;
}

body.product section#price_area div.text-area p.fee span {
}

body.product section#price_area div.text-area p.atn {
    margin: 0 0 15px 0;
    color: #811ab1;
    font-size: 107%;
    font-weight: bold;
    line-height: 1.4;
}

body.product section#price_area div.text-area div.method {
    margin: 0 0 10px 0;
}

body.product section#price_area div.text-area div.method a,
body.product section#price_area div.text-area div.method a:link,
body.product section#price_area div.text-area div.method a:visited {
	color: #2c86c3;
	text-decoration: underline;
}

body.product section#price_area div.text-area div.method a:hover {
	color: #3599cd;
	text-decoration: underline;
}

body.product section#price_area div.text-area div.method a:active {

}


body.product section#price_area div.text-area div.method dl dd {
    font-size: 80%;
}

body.product section#price_area div.text-area div.method dl dd span.atn {
    color: #811ab1;
    font-weight: bold;
}

body.product section#price_area div.text-area div#select-box {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background: #f8f4f2;
}

body.product section#price_area div.text-area div#select-box select {
    width: 70%;
    margin: 10px 0 10px 0;
    padding: 5px 10px;
}

body.product section#price_area div.text-area div.form p {
    margin: 0 0 10px 0;
    padding: 10px 20px;
    background: #f8f4f2;
    font-size: 80%;
}

body.product section#price_area div.text-area div.form p span {
    font-size: 120%;
}

body.product #content p#cart {
    width: 100%;
    margin: 30px 0 10px 0;
    padding: 0;
    text-align: center;
}

body.product #content p#cart img {
    max-width: 100%;
    height: auto;
}

body.product #content p#cart a:active,
body.product #content p#cart a:hover {
    text-decoration: none;
}

body.product section#price_area.lay02 p.image {
    width: 100%;
}

body.product section#price_area.lay02 div.text-area {
    display: flex;
    width: 100%;
    margin: 0 15px;
}

body.product section#price_area.lay02 div.text-area div.t-inner {
    width: 485px;
    margin: 0 30px 0 0;
}

body.product section#price_area.lay02 div.text-area form {
    width: 470px;
}

body.product section#price_area div.text-area p.goods-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

body.product section#price_area div.text-area p.goods-contact a::before {
    content: "";
    width: 45px;
    height: 26px;
    background: url("../../premico/img/icon_contact.png") no-repeat left center;
}


body.product .bnr-related {
    width: 100%;
    margin: 40px auto;
    padding: 0;
}

body.product .bnr-related a {
	display: flex;
	align-items: center;
	width: 45%;
	margin: 0 auto;
	padding: 10px 20px 10px 10px;
	border: 3px solid #cccccc;
	font-size: 14px; 
	background: url(/premico/images/delivery_arw.jpg) no-repeat 97% center;
}

body.product .bnr-related a::hover,
body.product .bnr-related a::active {
	opacity: 0.7;
}

body.product .bnr-related .bt-image {
	margin: 0 12px 0 0;
}

body.product .bnr-related .bt-text {
	margin: 0 0 8px 0;
}


@media screen and (max-width: 480px) {
    body.product #content ul.btn-telbuy {
        display: block;
        width: 94%;
        text-align: center;
    }
    
    body.product #content ul.btn-telbuy li {
        width: 100%;
    }
    
    body.product section#gallery {
        width: 94%;
    }
    
    body.product section#gallery p.image {
        width: 100%;
        text-align: center;
    }
    
    body.product section#gallery div.photo-area {
        width: 100%;
        max-width: inherit;
        text-align: center;
    }
    
    body.product section#gallery div.photo-area ul {
        width: 100%;
        gap: 1%;
        row-gap: 5px;
    }

    body.product section#gallery div.photo-area ul li {
        /* flex: 1; */
        width: 24.25%;
        margin: 0;
    }

    body.product section#gallery div.photo-area ul li:nth-child(4) {
        flex-wrap: wrap;
    }
    
    body.product section#price_area {
        width: 94%;
    }
    
    body.product section#price_area p.image {
        width: 100%;
    }

    body.product section#price_area div.text-area {
        width: 100%;
    }
    
    body.product .bnr-related a {
        width: 100%;
    }
    
    body.product section#foot-atn {
        margin: 0 auto;
        width: 94%;
    }
    
    body.product section#price_area.lay02 div.text-area {
        display: block;
        margin: 0;
    }

    body.product section#price_area.lay02 div.text-area div.t-inner {
        width: 100%;
        margin: 0;
    }

    body.product section#price_area.lay02 div.text-area form {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
	body.product .pc_main {
		display: none;
	}
}

@media screen and (min-width: 481px) {
	body.product .sp_main {
		display: none;
	}
}





/*2-1. Product - Kitty
==================*/

body.product.kitty #content {
    color: #7d5138;
}

body.product.kitty #content em {
    color: #eb615a;
    font-weight: bold;
}

body.product.kitty #content p.text {
    margin: 0 0 40px 0;
    font-size: 120%;
}

body.product.kitty #content p.intro {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

body.product.kitty #content p.image {
    margin: 0 0 40px 0;
    text-align: center;
}

body.product.kitty #content ul.topic {
    width: 90%;
    margin: 0 auto 40px auto;
    font-size: 130%;
    font-weight: bold;
}

body.product.kitty #content h3.stit {
    margin: 0 0 30px 0 ;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

body.product.kitty #content div.atn-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0 ;
    padding: 30px 40px;
    border: 3px solid #bc937c;
    border-radius: 10px;
}

body.product.kitty #content div.atn-box div.text-area {
    width: 60%;
}

body.product.kitty #content div.atn-box div.text-area h4 {
    margin: 0 0 12px 0;
    color: #eb615a;
    font-size: 130%;
    font-weight: bold;
}

body.product.kitty #content div.atn-box div.text-area p {
    margin: 0 0 20px 0;
}

body.product.kitty #content div.atn-box p.image {
    width: 40%;
    margin: 0 0 30px 0;
}

body.product.kitty #content div.atn-box p.image img {
    max-width: 100%;
    height: auto;
}

body.product.kitty section#price_area div.text-area h3 {
    border-left: 8px solid #cf8b42;
}

@media screen and (max-width: 480px) {
    body.product.kitty #content p.text {
        margin: 0 0 40px 0;
        font-size: 120%;
    }

    body.product.kitty #content p.intro {
        width: 90%;
        margin: 0 auto 40px auto;
        font-size: 110%;
    }

    body.product.kitty #content p.text {
        width: 90%;
        margin: 0 auto 40px auto;
        font-size: 100%;
    }

    body.product.kitty #content p.image {
        margin: 0 0 40px 0;
        text-align: center;
    }

    body.product.kitty #content ul.topic {
        width: 90%;
        font-size: 110%;
    }

    body.product.kitty #content h3.stit {
        width: 90%;
        margin: 0 auto 20px auto;
        font-size: 110%;
    }

    body.product.kitty #content div.atn-box {
        display: block;
        width: 90%;
        margin: 0 auto 30px auto;
    }
    
    body.product.kitty #content div.atn-box div.text-area {
        width: 100%;
    }
    
    body.product.kitty #content div.atn-box p.image {
        width: 100%;
        margin: 0 0 30px 0;
    }
}




/*2-2. Product - Peter Rabbit
==================*/

@media screen and (max-width: 480px) {
}



/*3.Premico
==================*/

body#premico section#content {
}

body#premico section#content ul#page-navi li a {
    color: #7d7d7d;
}

body#premico section#content ul#page-navi li.on a {
    background: #7d7d7d;
    color: #ffffff;
}



body#premico section#content h2 {
    font-size: 120%;
    font-weight: bold;
    color: #004896;
}

body#premico section#content div.slide-bnr-area {
    position: relative;
    margin: 0 0 40px 0;
    z-index: 200;
}

body#premico section#content div.slide-bnr-area ul {
    display: flex;
    justify-content: space-between;
    width: 92%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}

body#premico section#content div.slide-bnr-area ul li a:active,
body#premico section#content div.slide-bnr-area ul li a:hover {
    opacity: 0.65;
    text-decoration: none;
}

body#premico section#content div.pickup-area {
    margin: 0 0 40px 0;
}

body#premico section#content div.pickup-area ul {
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

body#premico section#content div.pickup-area ul li {
    width: 24%;
    max-width: 226px;
}

body#premico section#content div.pickup-area ul li a:active,
body#premico section#content div.pickup-area ul li a:hover {
    opacity: 0.65;
    text-decoration: none;
}

body#premico section#content div.collabo-area {
    margin: 0 0 40px 0;
}

body#premico section#content div.collabo-area ul {
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

body#premico section#content div.collabo-area ul li {
    width: 49%;
    max-width: 470px;
}

body#premico section#content div.shopinfo-area {
    margin: 0 0 40px 0;
}

body#premico section#content div.shopinfo-area ul {
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

body#premico section#content div.shopinfo-area ul li {
    width: 32%;
    max-width: 310px;
    padding: 0;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    text-align: center;
}

body#premico section#content div.shopinfo-area ul li a {
    display: block;
    padding: 20px 0;
}

body#premico section#content div.shopinfo-area ul li a:active,
body#premico section#content div.shopinfo-area ul li a:hover {
    background:rgba(0,0,0,0.03);
    text-decoration: none;
}

body#premico section#content div.shopinfo-area ul li dl {
    margin: 0;
    padding: 0;
}

body#premico section#content div.shopinfo-area ul li dl dt {
    margin: 0 0 20px 0;
    color: #000000;
    font-weight: bold;
}

body#premico section#content div.shopinfo-area ul li dl dd {
    margin: 0;
}

body#premico section#content div.about-area h2 {
    margin: 0 0 40px 0;
}

body#premico section#content div.about-area dl {
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 940px;
    padding: 0;
}

body#premico section#content div.about-area dl dt {
    margin: 0 60px 0 0;
    width: 140px;
}

body#premico section#content div.about-area dl dd {
    width: 100%;
}

body#premico section#content div.about-area dl dd p.btn-link a {
    display: block;
    position: relative;
    width: 245px;
    margin: 0 0 0 auto;
    padding: 10px 0;
    background: #004896;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

body#premico section#content div.about-area dl dd p.btn-link a::after {
    display: block;
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    top: 16px;
    right: 14px;
    background: url("../../premico/img/icon_arrow.png") no-repeat;
}


body#premico section#delivery_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

body#premico section#delivery_area .left {
    width: 48%;
}

body#premico section#delivery_area .right {
    width: 48%;
}

body#premico section#delivery_area h4 {
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 0 0 0 95px;
    width: 100%;
    height: 56px;
}

body#premico section#delivery_area h4.hdr01 {
    background: url(/renewal/premico/img/icon_sft01.png) no-repeat left center;
}

body#premico section#delivery_area h4.hdr02 {
    background: url(/renewal/premico/img/icon_sft02.png) no-repeat left center;
}

body#premico section#delivery_area h4.hdr03 {
    background: url(/renewal/premico/img/icon_sft03.png) no-repeat left center;
}

body#premico section#delivery_area h4.hdr04 {
    background: url(/renewal/premico/img/icon_sft04.png) no-repeat left center;
    padding: 0 0 0 60px;
    height: 60px;
}

body#premico section#delivery_area .box2 {
    width: 100%;
    margin-bottom: 55px;
    line-height: 160%;
}

body#premico section#delivery_area .del_list {
    margin-bottom: 20px;
}

body#premico section#delivery_area .del_list li {
    padding-left: 12px;
    background: url(/premico/images/delivery_arw.jpg) no-repeat left center;
}

body#premico section#delivery_area .box2 table {
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

body#premico section#delivery_area .box2 table th,section#delivery_area .box2 table td {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px;
}

body#premico section#delivery_area .box2 table th {
    background: url(/premico/images/delivery_tbl.jpg) repeat left top;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

body#premico section#delivery_area .box2 table td {
    text-align: center;
}

body#premico section#delivery_area .box2 table td.t_left {
    text-align: left;
}

body#premico section#delivery_area .box2 table td span {
    font-size: 10px;    
}

body#premico section#delivery_area p {
    margin-bottom: 15px;
}



@media screen and (max-width: 480px) {
    body#premico section#content div.slide-bnr-area ul {
        width: 100%;
    }
    
    body#premico section#content div.slide-bnr-area ul li img {
        width: 94px;
        height: auto;
    }

    body#premico section#content div.pickup-area ul {
        flex-wrap: wrap;
        width: 100%;
    }
    
    body#premico section#content div.pickup-area ul li {
        width: 49%;
        text-align: center;
    }

    body#premico section#content div.collabo-area ul {
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    
    body#premico section#content div.collabo-area ul li {
        width: 100%;
    }
    
    body#premico section#content div.collabo-area ul li:first-child {
        margin-bottom: 12px;
    }

    body#premico section#content div.shopinfo-area ul {
        width: 100%;
    }

    body#premico section#content div.shopinfo-area ul li {
        width: 31%;
    }
    
    body#premico section#content div.about-area h2 {
        margin: 0 0 20px 0;
    }
    
    body#premico section#content div.about-area dl {
        display: block;
        width: 100%;
    }

    body#premico section#content div.about-area dl dt {
        margin: 0 0 20px 0;
        width: auto;
        text-align: center;
    }

    body#premico section#content div.about-area dl dt img {
        width: 30%;
        height: auto;
    }
    
    body#premico section#content div.about-area dl dd p.btn-link a {
        width: 76%;
        margin: 0 auto;
    }
    
    body#premico section#content div.shopinfo-area ul li dl dd img {
        width: 50%;
        height: auto;
    }
    
    body#premico section#delivery_area {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 999px) {
    body#premico section#content div.slide-bnr-area ul li img {
        width: 140px;
        height: auto;
    }
}










/*3-1.Premico - Chara-index
==================*/
body#premico.chara-index section#content ul#item-list li div.text-area dl dt {
    color: #004896;
}

body#premico.chara-index section#content ul#item-list li div.text-area p.btn-link a {
    background: #004896;
}

@media screen and (max-width: 480px) {
    body#premico.chara-index section#content,
    body#premico.product section#content {
        padding: 70px 0 0 0;
    }
}



/*3-1.Collection - Collection-product
==================*/

body#collection.product #content {
    color: #000000;
}

body#collection.product section#price_area div.text-area h3 {
    border-left: 8px solid #cf8b42;
}

@media screen and (max-width: 480px) {

}




/*4-1.guide
==================*/

body.guide header {
    margin-bottom: 0;
}

body.guide div.contact-tel {
    display: none;
}

body.guide header form {
    display: none !important;
}

body#iei.guide section#content a {
    color: #0000ff;
}

body#iei.guide section#content div#title {
    position: relative;
}

body#iei.guide section#content div#title h1 {
    width: 1000px;
    margin: 0 auto 30px auto;
    padding: 0 0 15px 0;
    border-bottom: 4px solid #eaeaea;
    font-size: 24px;
}

body#iei.guide section#content div#page-navi {
    margin: 0 0 60px 0;
    padding: 40px 40px;
    background: #f6f6f6;
    border-radius: 10px;
}

body#iei.guide section#content div#page-navi ul {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

body#iei.guide section#content div#page-navi ul li {
    width: 50%;
    margin: 0 0 15px 0;
}

body#iei.guide section#content div#page-navi ul li:nth-child(9),
body#iei.guide section#content div#page-navi ul li:nth-child(10) {
    margin: 0;
}

body#iei.guide section#content div#page-navi ul li a {
    display: block;;
    padding: 0 0 0 30px;
    background: url("../../guide/img/icon_arrow.jpg") no-repeat;
    color: #000000;
}

body#iei.guide section#content div.cont-area01 {
    padding: 50px 0;
    background: #ffffff;
}

body#iei.guide section#content div.cont-area02 {
    padding: 50px 0;
    background: #ebebeb;
}

body#iei.guide section#content section#inner-cont p {
    margin: 0 0 20px 0;
}

body#iei.guide section#content section#inner-cont p em {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
}

body#iei.guide section#content section#inner-cont h2 {
    margin: 0 0 40px 0;
    font-size: 28px;
    font-weight: bold;
}

body#iei.guide section#content section#inner-cont h2 span {
    font-size: 60%;
}

body#iei.guide section#content section#inner-cont h3 {
    margin: 0 0 20px 0;
    font-size: 150%;
    font-weight: bold;
    text-align: left;
}

body#iei.guide section#content section#inner-cont h4 {
    margin: 0;
}

body#iei.guide section#content section#inner-cont table {
    width: 730px;
    margin: 0 auto 30px auto;
    padding: 0;
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
}

body#iei.guide section#content section#inner-cont table tr th {
    margin: 0;
    padding: 20px 20px;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    text-align: center;
}

body#iei.guide section#content section#inner-cont table.type01 tr th {
    width: 30%;
}

body#iei.guide section#content section#inner-cont table.type02 tr th {
    width: 33.3333333%;
    text-align: left;
}

body#iei.guide section#content section#inner-cont table tr td {
    margin: 0;
    padding: 20px 20px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    text-align: center;
}

body#iei.guide section#content section#inner-cont table.type01 tr td {
    width: 33.3333333%;
}

body#iei.guide section#content section#inner-cont table.type02 tr td {
    width: 70%;
    text-align: left;
}

body#iei.guide section#content section#inner-cont ul.apri-list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

body#iei.guide section#content section#inner-cont ul.apri-list li {
    width: 150px;
    margin: 0;
    padding: 0;
}

body#iei.guide section#content section#inner-cont p.page-back {
    margin: 0 0 60px 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #c8c8c8;
    text-align: right;
}

body#iei.guide section#content section#inner-cont p.page-back a {
    display: block;
    padding: 0 30px 0 0;
    background: url("../../guide/img/icon_arrow02.jpg") no-repeat right center;
    color: #000000;
    
}


@media screen and (max-width: 480px) {
    body#iei.guide section#content div#page-navi {
        margin: 0 0 30px 0;
        padding: 20px 20px;
    }
    
    body#iei.guide section#content div#page-navi ul li:nth-child(9) {
        margin-bottom: 15px;
    }
    
    body.guide #content {
        padding-top: 95px;
    }
    
    body#iei.guide section#content div#title h1 {
        width: 100%;
    }
    
    body#iei.guide section#content div#page-navi ul {
        display: block;
        width: 90%;
    }
    
    body#iei.guide section#content div#page-navi ul li {
        width: 100%;
    }
    
    body#iei.guide section#content section#inner-cont table {
        width: 100%;
    }
    
    body#iei.guide section#content section#inner-cont ul.apri-list {
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    body#iei.guide section#content section#inner-cont ul.apri-list li {
        width: 30%;
    }
}









