
/* ハンバーガーメニューの動作 */
#js-overlay.active {
 opacity: 1 !important;
 visibility: visible !important;
}
#js-nav.active {
 transform: translateX(0) !important;
}

/* フォントサイズ */
.c-text-xxs {
 font-size: 0.6875rem;
}

/* プレミコカラー */
.c-text-premico {
 color: #2C5282;
}
.c-bg-premico {
 background-color: #2C5282;
}
.c-bg-premico-50 {
 background-color: #2C5282;
 opacity: 0.95;
}

/* セカンドカラー */
.c-text-second {
 color: #3e9aaf;
}
.c-bg-second {
 background-color: #3e9aaf;
}

/* 電話番号カラー */
.c-text-phone {
 color: #745424;
}
.c-bg-phone {
 background-color: #745424;
}
/* ムーミンカラー */
.c-text-moomin-green {
 color: #4fa250;
}
.c-bg-moomin-green {
 background-color: #4fa250;
}
.c-border-moomin-green {
 border-color: #4fa250;
}

/* アクセントカラー */
.c-accent-premico {
 accent-color: #2C5282;
}












