<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $goods->getTitleTag() }}</title>
    <meta name="description" content="{{ $goods->getSeoDescription() }}">
    <meta name="keywords" content="{{ $goods->getSeoKeywords() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="format-detection" content="telephone=no">

	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:url" content="{{ config('app.url') . '/' . $goods->getM1prgc() }}" />
	<meta property="og:title" content="{{ $goods->getTitleTag() }}" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="{{ $goods->getTwDescription() }}" />
	<meta property="og:site_name" content="{{ $goods->isPremico() ? 'PREMICO(プレミコ) オンラインショップ' : 'I・E・Iオンラインショップ' }}" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/customization.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
</head>

<body class="bg-white">
    <div class="min-h-screen mx-auto">
    <?php include public_path() . '/include/header_new.html'; ?>

        <!-- パンくずナビ -->
        <nav class="bread-clumbs text-sm sm:text-base text-gray-600 mx-auto pl-3 leading-snug tracking-tighter max-w-6xl mt-4">
            <a href="/{{ $goods->getShowFlagName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">{{ $goods->getShowFlagJpName() }}</a>
                @if ($goods->getIeiCategory()->isNotEmpty())
                    <span class="mx-2">｜</span>
                    <a href="/collection/{{ $goods->getIeiCategory()->first()->getIeiCategoryName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">
                        {{ $goods->getIeiCategory()->first()->getIeiCategoryJpName() }}
                    </a>
                @endif
        </nav>

        <!-- メインコンテンツ -->
        <main class="pt-4 pb-2 px-1 mx-auto max-w-5xl">
            <!-- 商品説明 -->
            <section class="mx-auto max-w-3xl">
                <!-- トップ画像 -->
                <div class="p-3">
                    <img src="/image/goods/51355_01.jpg" alt="上皇上皇后両陛下御成婚65周年記念 特別奉祝大型カラー金貨" class="w-full mx-auto h-auto">
                </div>
                <!-- 商品紹介文 -->
                <div class="p-3">
                    <p class="text-start leading-relaxed font-bold">
                        手に手を携え、私たち国民を希望の光で照らし続けて65年──。<br>
                        <br>
                        上皇上皇后両陛下の輝かしき「ブルースターサファイヤ婚※」をお祝いして<br>
                        特別に限定発行される、美しくも典雅な大型金貨。<br>
                        典雅に艶めく純金（.9999）に浮かぶのは、<br>
                        満開の桜花を愛で、睦まじく寄り添う長寿の瑞鳥、双鶴。<br>
                        めでたくも鮮やかな旭日に、瑞々しくも雅な常盤松。<br>
                        花吹雪舞う御成婚パレードの情景が、眺めるたびによみがえる逸品です。
                    </p>
                    <p class="text-xs mt-2">※ブルースターサファイヤ婚：硬く傷つきにくく「夫婦和合」の意味がある宝石、ブルースターサファイヤにちなみ、65年もの長い歳月を夫婦で乗り越えいつまでも仲睦まじい関係がつづけられることを願う記念の祝い。</p>
                </div>
                <!-- A:商品メイン画像＆箇条書き(main_600x600画像がある場合) -->
                <div class="flex flex-col md:flex-row p-3">
                    <img src="/image/goods/51355_main_600x600.jpg" alt="上皇上皇后両陛下御成婚65周年記念 特別奉祝大型カラー金貨" class="w-full md:w-[50%] mx-auto h-auto p-4">
                    <ul class="text-start w-full md:w-[50%] md:p-3 leading-relaxed">
                        <li>■上皇上皇后両陛下の御成婚65周年を祝う美しくも華麗な意匠</li>
                        <li>■最高品位の純金（.9999）で鋳造</li>
                        <li>■完全未使用のプルーフ品質</li>
                        <li>■丹頂鶴に桜、松、旭日を最新技術によるレリーフ（凹凸）とフルカラーで彩り豊かに表現</li>
                        <li>■発行証明書付き</li>
                        <li>■格調高い桐製の特製ケースに収めてお届け</li>
                    </ul>
                </div>

                <!-- 商品詳細 -->
                <div class="flex flex-col space-y-3 mt-6">
                    <img src="/image/goods/51355_02.jpg" alt="上皇上皇后両陛下の慶びの記念碑たる歴史的な大型金貨を大切にご愛蔵いただけるよう、格調高い桐製の展示ケースに収めてお届けします" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        昭和34年4月10日。<br>
                        二重橋から東宮仮御所へと向かうお馬車の列を、国旗をはためかせる53万人の観客と満開の桜が祝福した華麗なる御成婚パレード。<br>
                        わが国の歴史に鮮やかに刻まれた、輝かしきあの日より65年──。<br>
                        昭和、平成、そして令和と睦まじく寄り添い、手に手を携えて歩まれてきた上皇上皇后両陛下は2024年、記念すべきブルースターサファイヤ婚をお迎えになられました。<br>
                        この輝かしき皇室のご慶事を奉祝して、美術品級の法定貨幣が限定発行される運びとなりました。<br>
                        皇室と深い交流で知られる英国・チャールズ三世を国王に戴くクック諸島政府が、両陛下の65年の歩みに賛辞を込めて発行する華麗にして価値ある大型金貨のご案内です。
                    </p>
                    <h2 class="text-white rounded-md font-bold text-lg c-bg-collection-gradient text-center sm:p-3 py-2 mx-1">
                        睦まじき瑞鶴が愛でる満開の桜<br>
                        上皇上皇后両陛下の歩みを永劫に語り継ぐ
                    </h2>
                    <div class="flex flex-col sm:flex-row">
                        <img src="/image/goods/51355_03.jpg" alt="精緻なレリーフ" loading="lazy" class="mx-auto max-w-[10rem] p-3 sm:m-3 object-contain">
                        <p class="text-start px-1 sm:p-3 leading-relaxed">
                            両陛下の幾久しいご健勝とご長寿を願う、黄金の記念碑…。<br>
                            このたび発行されるのは、最高品位の純金（.9999）に精妙なレリーフ（凹凸）と最新のカラー技術を尽くした直径五センチもの大型金貨。<br>
                            鏡のように艶やかな貨面の中央には、長寿の瑞鳥、丹頂鶴が青々と葉を茂らせる生命力の象徴、常盤松にとまって寄り添います。<br>
                            睦まじく満開の桜を愛でるその姿は、上皇上皇后両陛下を想わせるかのように気高くも柔和。<br>
                            背景には昇る旭日に吉祥のヱ霞がたなびき、随所にわたって御成婚65周年にふさわしい慶祝の意が込められました。<br>
                            手のひらにとり眺めれば、桜舞うあの御成婚の日がいつまでも変わらぬ純金の美とともに目前に浮かび上がって。<br>
                            さらにコインの表面には、皇室と深い交流で知られる英国国王・チャールズ三世の肖像、額面、発行年が刻印されました。
                        </p>
                    </div>
                    <img src="/image/goods/51355_04.jpg" alt="品位.9999金、完全未使用　プルーフ品質、直径約50ミリ 1/2オンス（約15.5グラム）、額面100クックアイランド・ドル、発行限定500点" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <h2 class="text-white rounded-md font-bold text-lg c-bg-collection-gradient text-center sm:p-3 py-2 mx-1">
                        金貨の美しさをいっそう際立たせる<br>
                        格調高い桐製の特製ケースに収めてお届け
                    </h2>
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        ＜上皇上皇后御成婚65周年記念　特別奉祝カラー金貨＞は完全未使用の価値あるプルーフ品質で、紛れもない法定貨幣の証となる発行国の発行証明書を添えてお届けいたします。<br>
                        さらに金貨の意匠をいっそう際立て末長く大切にご所蔵いただけるよう、桜色の意匠も晴れやかな桐製の特製ケースに収めてお届けいたしますので、ご鑑賞の喜びもいっそう高まることでしょう。<br>
                        発行数が極めて少なく、お求めの機会も限られておりますので、確実にご入手いただくためにもお早めにお求めください。
                    </p>
                    <img src="/image/goods/51355_05.jpg" alt="上皇上皇后両陛下の歩み" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2 flex items-center"><img src="/image/goods/51355_06.jpg" alt="クック諸島　国章" class="w-10 h-auto mr-2">クック諸島</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">南太平洋にある15の島々で構成された自治国家で、総面積は約237平方キロメートル。1770年代にこの島々を発見した英国の探検家、キャプテン・ジェームズ・クックの名にちなみ、クック諸島と名づけられた。元首はイギリスのチャールズ3世。</span>
                        </p>
                    </div>
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2">プルーフコインとは…</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">国賓やVIPに贈る記念品として、各国が特殊な技法を駆使して発行する貨幣。模様を鮮明にするため、極印（型）を2回以上打ちつけるなどして入念に製造される。発行数が少ないため、収集家の希求の的。</span>
                        </p>
                    </div>
                </div>
            </section>

            <!-- 価格・購入エリア -->
            <section id="price_area" class="my-8 w-full mx-auto">
                <!-- 商品画像以下 -->
                <div class="flex flex-col md:flex-row">
                    <!-- 商品画像 -->
                    <div class="flex justify-center p-12 sm:px-32 md:p-4 md:w-[40%] md:items-start">
                        <!-- 拡大画像 -->
                        <img src="/image/goods/51355_main_600x600.jpg"
                            alt="商品詳細画像"
                            loading="lazy"
                            class="w-full h-auto object-contain">
                    </div>

                    <!-- 価格・購入情報 -->
                    <div class="p-4 md:w-[60%] md:p-2 md:ml-8">
                        <!-- 商品番号 -->
                        <div class="mb-2 pl-2">
                            <span class=" text-gray-900 tracking-wide no-underline">商品番号：{{ $goods->getItemNo() }}</span>
                        </div>
                        <!-- 商品名 -->
                        <h3 class="border-l-8 border-gray-800 pl-2 text-xl font-bold text-gray-800 mb-4 md:mb-1 tracking-tighter">
                            {{ $goods->getGoodsName() }}
                        </h3>

                        <!-- 納期・お届け -->
						@if ($goods->isNgCartMessage() || $goods->isOkCartMessage())
							<!-- メッセージあり 受注NG or OK -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getMessage() !!}</p></div>
						@else
							<!-- メッセージなし 納期表示 -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getGoodsDeliveryText() !!}</p></div>
						@endif

                        <!-- 価格 -->
                        <div class="space-y-2 md:space-y-1 mb-6 text-gray-600">
                            <p class="text-lg">{!! $goods->getSoroM1shsg_0_text() !!}</p>
                            <p class="">{!! $goods->getSoroM1shsg_1_text() !!}</p>
                            <p class="ml-4">{!! $goods->getSoroM1tsry_text() !!}</p>
                        </div>

                        <!-- 仕様詳細 -->
                        <div class="px-6 border-b border-gray-200 pb-3">
                            <h4 class="font-bold text-gray-800 mb-3">仕　様</h4>
                            <p class="leading-snug text-sm">
                                【金貨 仕様】<br>
                                ●品位：.9999金<br>
                                ●直径：約50mm<br>
                                ●重さ：1/2オンス（約15.5グラム）<br>
                                ●発行数：500点<br>
                                ●額面：100ドル（クックアイランド・ドル）<br>
                                ●品質：プルーフ品質<br>
                                ●発行：クック諸島政府<br>
                                ●鋳造：マイヤーズ造幣所（ドイツ）<br>
                                <br>
                                【ケース 仕様】<br>
                                ●材質：桐、ポリエステル、ポリウレタン<br>
                                ●サイズ（約）：縦12×横12×厚さ4cm<br>
                                ●日本製
                            </p>

                            <!-- 購入フォーム -->
                            <!-- 紐づけコードなし カート -->
                            <!-- 表示のみ 以外 -->
                            @if ($goods->isDisplayOnly() === false && !$goods->isNgCartMessage())
                                <form method="post" action="/cart" name="cartForm{{ $goods->getItemNo() }}">
                                <input type="hidden" name="item_no" value="{{ $goods->getItemNo() }}">
                                <input type="hidden" name="medium_code" value="{{ $goods->getMediumCode() }}">
                                <input type="hidden" name="amount1" value="1">
                                <input type="hidden" name="ex_volume" value="{{ $goods->isVolume() }}">

								<!-- イニシャルの指定あり -->
                                @if ($goods->isInitial() && !$goods->isNgCartMessage())
									<span class="atn">{!! $goods->getInitialTitle() !!}</span><br>
									<input type="text" name="initial" value=""><br>
								@endif

                                <!-- サイズ・カラー選択 -->
								@if ($goods->isCosize() && !$goods->isNgCartMessage())
									@if ($goods->isColor())
                                        <div>
                                            <span class="select">
                                                <select name="m5clr" class="m5clr{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5clr">
                                                    <option value="">▼お選びください</option>
                                                    @foreach ($goods->getColorArray() as $key => $color)
                                                        <option value="{{ $color->m5clr }}">
                                                            {{ $color->color_name }}
                                                        </option>
                                                    @endforeach
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isSize() || $goods->isType())
                                            <br>
                                        @endif
    								@else
	    								<input type="hidden" name="m5clr" value="">
		    						@endif
			    					@if ($goods->isSize())
                                        <div>
                                            <span class="select">
                                                <select name="m5siz" class="m5siz{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5siz">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor())
                                                        @foreach ($goods->getSizeArray() as $size)
                                                            <option value="{{ $size->m5siz }}">
                                                                {{ $size->size_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isType())
                                            <br>
                                        @endif
                                    @else
                                        <input type="hidden" name="m5siz" value="">
                                    @endif
                                    @if ($goods->isType())
                                        <div>
                                            <span class="select">
                                                <select name="type_code" class="type_code{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="type_code">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor() && !$goods->isSize())
                                                        @foreach ($goods->getTypeArray() as $type)
                                                            <option value="{{ $type->type_code }}">
                                                                {{ $type->type_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                    @else
                                        <input type="hidden" name="type_code" value="">
                                    @endif
                                @endif
                                @if (!$goods->isNgCartMessage())
                                    <div class="md:w-[70%] mx-auto mt-4">
                                        <button type="button" data-item_no="{{ $goods->getItemNo() }}" class="add-cart w-full c-btn-amber-gradient py-4 px-6 rounded-lg flex items-center justify-between transition-all duration-200 shadow-md hover:shadow-lg">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                                                <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="flex-1 text-center text-lg font-bold" style="pointer-events: none;">カートに入れる</span>
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="pointer-events: none;">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                            </svg>
                                        </button>
                                    </div>
                                @endif
    					        </form>
                            @endif
                            <div class="flex flex-col lg:flex-row lg:justify-between space-y-3 pt-3">
                            <!-- お電話 -->
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-sm md:text-base text-gray-600 tracking-tighter leading-none">お申込・お問い合わせ 6:00〜21:00</div>
                                    <div class="flex items-center space-x-1 -mt-1">
                                        <div class="w-5 h-5 md:w-8 md:h-8 bg-gray-600 rounded-full flex items-center justify-center">
                                            <svg class="w-3 h-3 md:w-5 md:h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                                            </svg>
                                        </div>
                                        <a href="tel:0120-247-417" class="text-2xl md:text-3xl text-gray-600 hover:opacity-80 duration-200">0120-247-417</a>
                                    </div>
                                </div>
                                <!-- お問い合わせ -->
                                <div class="text-center">
                                    <a href="/inquiry/index?item_no={{ $goods->getItemNo() }}" class="text-iei-primary hover:text-iei-secondary underline transition-colors sm:text-base">この商品をメールで問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <div class="border-t border-gray-300 mb-4 xl:w-[80%] mx-auto"></div> -->
        <!-- 案内セクション -->
        <?php include public_path() . '/include/footer_guidance.html'; ?>

        <!-- ページトップボタン -->
        <div id="pagetop" class="fixed bottom-6 right-6 z-50 hidden">
            <a href="#" class="c-bg-second hover:bg-opacity-80 rounded-full p-3 shadow-lg transition-all duration-200 transform  hover:scale-110 text-white font-bold text-lg w-12 h-12 flex items-center justify-center">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- フッターコンポーネント -->
    <?php include public_path() . '/include/footer_new.html'; ?>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="{{ asset('/sys/js/goods.js') }}"></script>
    <script src="{{ asset('/sys/js/common.js') }}"></script>
</body>
</html>
