<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $goods->getTitleTag() }}</title>
    <meta name="description" content="{{ $goods->getSeoDescription() }}">
    <meta name="keywords" content="{{ $goods->getSeoKeywords() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="format-detection" content="telephone=no">
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:url" content="{{ config('app.url') . '/' . $goods->getM1prgc() }}" />
	<meta property="og:title" content="{{ $goods->getTitleTag() }}" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="{{ $goods->getTwDescription() }}" />
	<meta property="og:site_name" content="{{ $goods->isPremico() ? 'PREMICO(プレミコ) オンラインショップ' : 'I・E・Iオンラインショップ' }}" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/customization.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
</head>

<body class="bg-white">
    <div class="min-h-screen mx-auto">
    <?php include public_path() . '/include/header_new.html'; ?>

        <!-- パンくずナビ -->
        <nav class="bread-clumbs text-sm sm:text-base text-gray-600 mx-auto pl-3 leading-snug tracking-tighter max-w-6xl mt-4">
            <a href="/{{ $goods->getShowFlagName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">{{ $goods->getShowFlagJpName() }}</a>
                @if ($goods->getIeiCategory()->isNotEmpty())
                    <span class="mx-2">｜</span>
                    <a href="/collection/{{ $goods->getIeiCategory()->first()->getIeiCategoryName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">
                        {{ $goods->getIeiCategory()->first()->getIeiCategoryJpName() }}
                    </a>
                @endif
        </nav>

        <!-- メインコンテンツ -->
        <main class="pt-4 pb-2 px-1 mx-auto max-w-5xl">
            <!-- 商品説明 -->
            <section class="mx-auto max-w-3xl">
                <!-- トップ画像 -->
                <div class="p-3">
                    <img src="/image/goods/51411_01.jpg" alt="マダム・ナディーヌの「スリムに見える魔法の服」ワインレッド クラッシィ クチュール仕立ての12枚はぎゆったりAラインワンピース　デザイン：ナディーヌ・ビュタン" class="w-full mx-auto h-auto">
                </div>
                <!-- 商品紹介文 -->
                <div class="p-3">
                    <p class="text-start leading-relaxed font-bold">
                        華やぎの中に大人の落ち着きが漂うワインレッドの存在感に、スリムに見える魔法のシルエット。<br>
                        豊かなドレープを生み出す、計算された12枚はぎのAラインが腰回りをふんわりカバーしながら肩や胸元をすっきり見せ着るだけでどの角度からも美しい、理想のスタイルが完成。<br>
                        ほっそり、ゆったり、動きやすい。<br>
                        マダム・ナディーヌならではのセンスが光る、待望の逸品です。<br>
                        <span style="text-decoration: underline;">ご家庭でお洗濯できます</span>
                    </p>
                </div>
                <!-- A:商品メイン画像＆箇条書き(main_600x600画像がある場合) -->
                <div class="flex flex-col md:flex-row p-3">
                    <img src="/image/goods/51411_main_600x600.jpg" alt="「スリムに見える魔法の服」ワインレッド クラッシィ　 ゆったりAラインワンピース" class="w-full md:w-[50%] mx-auto h-auto p-4">
                    <ul class="text-start w-full md:w-[50%] md:p-3 leading-relaxed">
                        <li>■フランスの著名デザイナー、ナディーヌ・ビュタンのオリジナル</li>
                        <li>■華やかさの中に、落ち着いた雰囲気のあるワインレッドカラー</li>
                        <li>■計算された12枚はぎのAラインがつくるゆったりスリムなシルエット</li>
                        <li>■シワになりにくく、落ち感の美しい快適素材</li>
                        <li>■ご家庭でお洗濯できます</li>
                        <li>■SからLLまでの豊富なサイズ</li>
                    </ul>
                </div>

                <!-- 商品詳細 -->
                <div class="flex flex-col space-y-3 mt-6">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        パリの街を、優雅に散歩するかのように──。<br>
                        フレンチテイストあふれる華やぎとゆったり感、そして気になる体型をスリムに見せる巧みな仕立て…。<br>
                        フランスの著名デザイナー、マダム・ナディーヌがおくる大人気のAラインワンピースに、大人の気品と麗しさが香り立つワインレッドのアイテムが登場しました。<br>
                        エレガントにスタイリッシュに、そしておしゃれに。<br>
                        そんな意味を込めた一着＜ワインレッド クラッシィ＞。<br>
                        着るだけで、誰よりも美しいあなたを演出する逸品です。
                    </p>
                    <img src="/image/goods/51411_02.jpg" alt="ほっそり、ゆったり、エレガント。パリのエスプリ、シルエットの魔法" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <img src="/image/goods/51411_03.jpg" alt="360度、どの角度からもほっそり、きちんとした印象。日本の熟練職人が仕立てた12枚はぎの逸品" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <h2 class="text-white rounded-md font-bold text-lg c-bg-collection-gradient text-center sm:p-3 py-2 mx-1">
                        ほっそり、ゆったり、パリの彩り。あなたの美が目覚める秋色ワンピース
                    </h2>
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        華やかなのに、落ち着きのある大人の赤…。<br>
                        マダム・ナディーヌがこだわったのは深みのあるトーンと暖色の効果でフェミニンな雰囲気を強調するワインレッドカラー。<br>
                        ヴィンテージワインを思わせる高貴な印象で、お友達とのお茶会からあらたまった場所まで幅広く活躍します。<br>
                        さらに素晴らしいのが、しっとり滑らかな手触りも魅力の上質生地で仕立てた、空気をはらんで豊かに広がる12枚はぎのAライン。<br>
                        肩や胸はすっきりと、腰回りはふんわりカバーし、脚は華奢に見せてくれる絶妙なシルエットを叶えながらも驚くほどゆったりした着心地はマダム・ナディーヌだからこそ。<br>
                        さらに首もとを美しくカバーする知的な立襟や端正なくるみボタン、袖口のスリットなど、細かな部分にまでパリのセンスが尽くされました。
                    </p>
                    <img src="/image/goods/51411_04.jpg" alt="凛と美しい表情を演出する立襟が首もとをカバーして、若々しく。／ワインレッドカラーの共布で丹念に仕立てたくるみボタン。正統派の印象が漂います。／お手もとの所作を美しく見せるスリット使いの袖口。／両サイドにはハンカチや小物等に便利な程よい大きさのポケットをプラス。" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        マダム・ナディーヌの「スリムに見える魔法の服」＜ワインレッド クラッシィ＞クチュール仕立ての12枚はぎ ゆったりAラインワンピースはI･E･I社の特別企画商品です。<br>
                        ご家庭で洗えるウォッシャブルでお手入れ簡単な本品を、どうぞこの好機にお求めください。
                    </p>
                    <img src="/image/goods/51411_05.jpg" alt="ボタンをはずしてコート風に。流れるようなドレープも美しい、重ね着が完成" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <!-- box1 -->
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2"><img src="/image/goods/51411_06.jpg" alt="ナディーヌ・ビュタン ロゴ" class="inline h-5">　ナディーヌ・ビュタン</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">フランスを代表する衣装デザイナー。映画、演劇、テレビドラマのコスチューム・デザインを数多く手がけ、鬼才ジャン・リュック・ゴダールの映画の衣装スタイリストとして活躍。また体の不自由な人のためのファッション・デザインにも積極的に取り組んでいる。</span>
                            <img src="/image/goods/51411_07.jpg" alt="ナディーヌ・ビュタン近影" class="w-32 object-contain sm:mt-0 sm:ml-2 mx-auto sm:mx-0">
                        </p>
                        <p class="text-center p-2">
                            <img src="/image/goods/51411_08.jpg" alt="この一着にかけられたのは、あなたがきれいに見える特別な赤とシルエットの魔法。ナディーヌ・ビュタン" class="mx-auto">
                        </p>
                    </div>
                </div>
            </section>

            <!-- 価格・購入エリア -->
            <section id="price_area" class="my-8 w-full mx-auto">
                <!-- 商品画像以下 -->
                <div class="flex flex-col md:flex-row">
                    <!-- 商品画像 -->
                    <div class="flex justify-center p-12 sm:px-32 md:p-4 md:w-[40%] md:items-start">
                        <!-- 拡大画像 -->
                        <img src="/image/goods/51411_main_600x600.jpg"
                            alt="「スリムに見える魔法の服」ワインレッド クラッシィ　 ゆったりAラインワンピース"
                            loading="lazy"
                            class="w-full h-auto object-contain">
                    </div>

                    <!-- 価格・購入情報 -->
                    <div class="p-4 md:w-[60%] md:p-2 md:ml-8">
                        <!-- 商品番号 -->
                        <div class="mb-2 pl-2">
                            <span class=" text-gray-900 tracking-wide">商品番号：{{ $goods->getItemNo() }}</span>
                        </div>
                        <!-- 商品名 -->
                        <h3 class="border-l-8 border-gray-800 pl-2 text-xl font-bold text-gray-800 mb-4 md:mb-1 tracking-tighter">
                            {{ $goods->getGoodsName() }}
                        </h3>

                        <!-- 納期・お届け -->
						@if ($goods->isNgCartMessage() || $goods->isOkCartMessage())
							<!-- メッセージあり 受注NG or OK -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getMessage() !!}</p></div>
						@else
							<!-- メッセージなし 納期表示 -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getGoodsDeliveryText() !!}</p></div>
						@endif

                        <!-- 価格 -->
                        <div class="space-y-2 md:space-y-1 mb-6 text-gray-600">
                            <p class="text-lg">{!! $goods->getSoroM1shsg_0_text() !!}</p>
                            <p class="">{!! $goods->getSoroM1shsg_1_text() !!}</p>
                            <p class="ml-4">{!! $goods->getSoroM1tsry_text() !!}</p>
                        </div>

                        <!-- 仕様詳細 -->
                        <div class="px-6 border-b border-gray-200 pb-3">
                            <h4 class="font-bold text-gray-800 mb-3">仕　様</h4>
                            <p class="leading-snug text-sm">
                                ●材質：ポリエステル100％　ボタン＝ポリエステル、樹脂<br>
                                ●スリット（約）：6cm<br>
                                ●日本製
                            </p>
                            <p class="my-3">
                                <img src="/image/goods/51411_size.jpg" alt="サイズ表" class="max-w-[295px]">
                            </p>

                            <!-- 購入フォーム -->
                            <!-- 紐づけコードなし カート -->
                            <!-- 表示のみ 以外 -->
                            @if ($goods->isDisplayOnly() === false && !$goods->isNgCartMessage())
                                <form method="post" action="/cart" name="cartForm{{ $goods->getItemNo() }}">
                                <input type="hidden" name="item_no" value="{{ $goods->getItemNo() }}">
                                <input type="hidden" name="medium_code" value="{{ $goods->getMediumCode() }}">
                                <input type="hidden" name="amount1" value="1">
                                <input type="hidden" name="ex_volume" value="{{ $goods->isVolume() }}">

								<!-- イニシャルの指定あり -->
                                @if ($goods->isInitial() && !$goods->isNgCartMessage())
									<span class="atn">{!! $goods->getInitialTitle() !!}</span><br>
									<input type="text" name="initial" value=""><br>
								@endif

                                <!-- サイズ・カラー選択 -->
								@if ($goods->isCosize() && !$goods->isNgCartMessage())
									@if ($goods->isColor())
                                        <div>
                                            <span class="select">
                                                <select name="m5clr" class="m5clr{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5clr">
                                                    <option value="">▼お選びください</option>
                                                    @foreach ($goods->getColorArray() as $key => $color)
                                                        <option value="{{ $color->m5clr }}">
                                                            {{ $color->color_name }}
                                                        </option>
                                                    @endforeach
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isSize() || $goods->isType())
                                            <br>
                                        @endif
    								@else
	    								<input type="hidden" name="m5clr" value="">
		    						@endif
			    					@if ($goods->isSize())
                                        <div>
                                            <span class="select">
                                                <select name="m5siz" class="m5siz{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5siz">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor())
                                                        @foreach ($goods->getSizeArray() as $size)
                                                            <option value="{{ $size->m5siz }}">
                                                                {{ $size->size_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isType())
                                            <br>
                                        @endif
                                    @else
                                        <input type="hidden" name="m5siz" value="">
                                    @endif
                                    @if ($goods->isType())
                                        <div>
                                            <span class="select">
                                                <select name="type_code" class="type_code{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="type_code">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor() && !$goods->isSize())
                                                        @foreach ($goods->getTypeArray() as $type)
                                                            <option value="{{ $type->type_code }}">
                                                                {{ $type->type_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                    @else
                                        <input type="hidden" name="type_code" value="">
                                    @endif
                                @endif
                                @if (!$goods->isNgCartMessage())
                                    <div class="md:w-[70%] mx-auto mt-4">
                                        <button type="button" data-item_no="{{ $goods->getItemNo() }}" class="add-cart w-full c-btn-amber-gradient py-4 px-6 rounded-lg flex items-center justify-between transition-all duration-200 shadow-md hover:shadow-lg">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                                                <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="flex-1 text-center text-lg font-bold" style="pointer-events: none;">カートに入れる</span>
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="pointer-events: none;">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                            </svg>
                                        </button>
                                    </div>
                                @endif
    					        </form>
                            @endif
                            <div class="flex flex-col lg:flex-row lg:justify-between space-y-3 pt-3">
                            <!-- お電話 -->
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-sm md:text-base text-gray-600 tracking-tighter leading-none">お申込・お問い合わせ 6:00〜21:00</div>
                                    <div class="flex items-center space-x-1 -mt-1">
                                        <div class="w-5 h-5 md:w-8 md:h-8 bg-gray-600 rounded-full flex items-center justify-center">
                                            <svg class="w-3 h-3 md:w-5 md:h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                                            </svg>
                                        </div>
                                        <a href="tel:0120-247-417" class="text-2xl md:text-3xl text-gray-600 hover:opacity-80 duration-200">0120-247-417</a>
                                    </div>
                                </div>
                                <!-- お問い合わせ -->
                                <div class="text-center">
                                    <a href="/inquiry/index?item_no={{ $goods->getItemNo() }}" class="text-iei-primary hover:text-iei-secondary underline transition-colors sm:text-base">この商品をメールで問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <div class="border-t border-gray-300 mb-4 xl:w-[80%] mx-auto"></div> -->
        <!-- 案内セクション -->
        <?php include public_path() . '/include/footer_guidance.html'; ?>

        <!-- ページトップボタン -->
        <div id="pagetop" class="fixed bottom-6 right-6 z-50 hidden">
            <a href="#" class="c-bg-second hover:bg-opacity-80 rounded-full p-3 shadow-lg transition-all duration-200 transform  hover:scale-110 text-white font-bold text-lg w-12 h-12 flex items-center justify-center">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- フッターコンポーネント -->
    <?php include public_path() . '/include/footer_new.html'; ?>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="{{ asset('/sys/js/goods.js') }}"></script>
    <script src="{{ asset('/sys/js/common.js') }}"></script>
</body>
</html>
