<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>{{ $goods->getTitleTag() }}</title>
    <meta name="description" content="{{ $goods->getSeoDescription() }}">
    <meta name="keywords" content="{{ $goods->getSeoKeywords() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:url" content="{{ config('app.url') . '/' . $goods->getM1prgc() }}" />
	<meta property="og:title" content="{{ $goods->getTitleTag() }}" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="{{ $goods->getTwDescription() }}" />
	<meta property="og:site_name" content="{{ $goods->isPremico() ? 'PREMICO(プレミコ) オンラインショップ' : 'I・E・Iオンラインショップ' }}" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/customization.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
</head>

<body class="bg-white">
    <div class="min-h-screen mx-auto">
    <?php include public_path() . '/include/header_new.html'; ?>

        <!-- パンくずナビ -->
        <nav class="bread-clumbs text-sm sm:text-base text-gray-600 mx-auto pl-3 leading-snug tracking-tighter max-w-6xl mt-4">
            <a href="/{{ $goods->getShowFlagName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">{{ $goods->getShowFlagJpName() }}</a>
                @if ($goods->getIeiCategory()->isNotEmpty())
                    <span class="mx-2">｜</span>
                    <a href="/collection/{{ $goods->getIeiCategory()->first()->getIeiCategoryName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">
                        {{ $goods->getIeiCategory()->first()->getIeiCategoryJpName() }}
                    </a>
                @endif
        </nav>

        <!-- メインコンテンツ -->
        <main class="pt-4 pb-2 px-1 mx-auto max-w-5xl">
            <!-- 商品説明 -->
            <section class="mx-auto max-w-3xl">
                <!-- トップ画像 -->
                <div class="p-3">
                    <img src="/image/goods/51459_01.jpg" alt="クック諸島政府発行　しあわせのShip's Cat（シップスキャット）コイン 純金コインの宝飾ペンダント　限定2025点" class="w-full mx-auto h-auto">
                </div>
                <!-- 商品紹介文 -->
                <div class="p-3">
                    <p class="text-start leading-relaxed font-bold">
                        それは、浮き輪から顔を出す可愛いシップスキャット（船乗り猫）。<br>
                        航海の安全を守ってきた幸せのシンボルが<br>
                        貴重なコインジュエリーになりました。<br>
                        <br>
                        最高品位.9999の金貨とダイヤモンド、本物だけが持つ至高の輝きが<br>
                        周囲の羨望を集める贅沢な宝飾ペンダント。<br>
                        つぶらな瞳の子猫がどんな時もあなたを見守り<br>
                        心に癒しをもたらして…。
                    </p>
                </div>
                <!-- 追加画像 -->
                <div class="p-3">
                    <img src="/image/goods/51459_02.jpg" alt="船とともに世界を旅した「シップスキャット（船乗り猫）」" class="w-full mx-auto h-auto">
                </div>
                <!-- A:商品メイン画像＆箇条書き(main_600x600画像がある場合) -->
                <div class="flex flex-col md:flex-row p-3">
                    <img src="/image/goods/51459_main_600x600.jpg" alt="＜しあわせのShip's Cat金貨＞純金コインの宝飾ペンダント" class="w-full md:w-[50%] mx-auto h-auto p-4">
                    <ul class="text-start w-full md:w-[50%] md:p-3 leading-relaxed">
                        <li>■クック諸島政府が発行する真正な法定金貨を使用</li>
                        <li>■最高品位.9999の純金製</li>
                        <li>■ダイヤモンド1石</li>
                        <li>■ロープノットをモチーフにした18金製のバチカンとフレーム</li>
                        <li>■高度な技術で浮かび上がる美しい凹凸（レリーフ）</li>
                        <li>■裏表2つの表情が楽しめるリバーシブルタイプ</li>
                        <li>■チェーンはSV925に純金仕上げ</li>
                        <li>■発行国の発行証明書が付属</li>
                    </ul>
                </div>

                <!-- 商品詳細 -->
                <div class="flex flex-col space-y-3 mt-6">
                    <img src="/image/goods/51459_03.jpg" alt="見つめるほどに癒される幸せの子猫──。本物の輝きが周囲の羨望を集めるペンダント" loading="lazy" class="w-full max-w-md mx-auto h-auto p-4">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        古の時代より船員たちと船に乗り、ねずみの駆除を任され、様々な迷信から航海の安全を守ると信じられてきたシップスキャット（船乗り猫）。<br>
                        そんな幸運の子猫が、純度99.99％以上の本物の金貨を使用したコインペンダントになりました。<br>
                        富の象徴である純金のコインとラッキーシンボルの相乗効果が、幸せを予感させる優美なジュエリーのご案内です。
                    </p>
                    <img src="/image/goods/51459_04.jpg" alt="価値ある純金コインをそのまま使用" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <h2 class="text-white rounded-md font-bold text-lg c-bg-collection-gradient text-center sm:p-3 py-2 mx-1">
                        装いに自信をもたらす純金の煌めき<br>
                        愛らしいシップスキャットに癒されて
                    </h2>
                    <div class="flex flex-col sm:flex-row">
                        <img src="/image/goods/51459_05.jpg" alt="ロープノットをイメージしたバチカンには、ダイヤモンドが煌めいて。" loading="lazy" class="mx-auto max-w-[10rem] p-3 sm:m-3 object-contain">
                        <p class="text-start px-1 sm:p-3 leading-relaxed">
                            黄金の艶やかな輝きに浮かび上がるのは、つぶらな瞳でこちらを見つめる子猫の姿。<br>
                            浮き輪から顔を出した愛らしいシップスキャットのやわらかな毛並みや魔除けともされる煌めく星が7つ、高度な鋳造技術と精緻な凹凸（レリーフ）で立体的に表現されています。<br>
                            最高品位の金貨は、その美しさと価値を損なわないよう加工を施すことなく、そのままの状態でフレームにセット。<br>
                            18金製のバチカンは、船の係留や錨を固定する際のロープノットをイメージしており、幸運のシップスキャットにふさわしく幸せを逃さず繋ぎとめることができるようにと願いを込めてデザインされました。<br>
                            さらにバチカンの中央では、永遠の美しさを象徴するダイヤモンドが気品ある輝きを放ちます。
                        </p>
                    </div>
                    <img src="/image/goods/51459_06.jpg" alt="ペンダントはリバーシブル：反対側の面には元首チャールズ3世（英国国王）の公式肖像が。" loading="lazy" class="w-full max-w-md mx-auto h-auto p-4">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        ＜しあわせのShip's Cat金貨＞純金コインの宝飾ペンダントは、2025点のみ発行される貴重な金貨を用いた限定版で、コインの発行証明書を添えてお届けいたします。<br>
                        近年価格が高騰している希少な純金を用いた「身に着ける資産」として美しさを引き立てるコインペンダント。<br>
                        幸運祈願のお守りのようにも身に着けやすい逸品ですので、この好機にお申し込みいただき、周囲と差をつける限りなくピュアな輝きをお楽しみください。
                    </p>
                    <img src="/image/goods/51459_07.jpg" alt="ペンダントはギフトケースに収めてお届けします。贈り物にも最適です。" loading="lazy" class="w-full max-w-lg mx-auto h-auto p-4">
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2 flex items-center"><img src="/image/goods/51459_08.jpg" alt="クック諸島　国章" class="w-10 h-auto mr-2">クック諸島</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">南太平洋にある15の島々で構成された自治国家で、総面積は約237平方キロメートル。1770年代にこの島々を発見した英国の探検家、キャプテン・ジェームズ・クックの名にちなみ、クック諸島と名づけられた。元首はイギリスのチャールズ3世。</span>
                        </p>
                    </div>
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2">プルーフコインとは…</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">国賓やVIPに贈る記念品として、各国が特殊な技法を駆使して発行する貨幣。模様を鮮明にするため、極印（型）を2回以上打ちつけるなどして入念に製造される。発行数が少ないため、収集家の希求の的。</span>
                        </p>
                    </div>
                </div>
            </section>

            <!-- 価格・購入エリア -->
            <section id="price_area" class="my-8 w-full mx-auto">
                <!-- 商品画像以下 -->
                <div class="flex flex-col md:flex-row">
                    <!-- 商品画像 -->
                    <div class="flex justify-center p-12 sm:px-32 md:p-4 md:w-[40%] md:items-start">
                        <!-- 拡大画像 -->
                        <img src="/image/goods/51459_main_600x600.jpg"
                            alt="商品詳細画像"
                            loading="lazy"
                            class="w-full h-auto object-contain">
                    </div>

                    <!-- 価格・購入情報 -->
                    <div class="p-4 md:w-[60%] md:p-2 md:ml-8">
                        <!-- 商品番号 -->
                        <div class="mb-2 pl-2">
                            <span class="text-gray-900 tracking-wide">商品番号：{{ $goods->getItemNo() }}</span>
                        </div>
                        <!-- 商品名 -->
                        <h3 class="border-l-8 border-gray-800 pl-2 text-xl font-bold text-gray-800 mb-4 md:mb-1 tracking-tighter">
                            {{ $goods->getGoodsName() }}
                        </h3>

                        <!-- 納期・お届け -->
						@if ($goods->isNgCartMessage() || $goods->isOkCartMessage())
							<!-- メッセージあり 受注NG or OK -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getMessage() !!}</p></div>
						@else
							<!-- メッセージなし 納期表示 -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getGoodsDeliveryText() !!}</p></div>
						@endif

                        <!-- 価格 -->
                        <div class="space-y-2 md:space-y-1 mb-6 text-gray-600">
                            <p class="text-lg">{!! $goods->getSoroM1shsg_0_text() !!}</p>
                            <p class="">{!! $goods->getSoroM1shsg_1_text() !!}</p>
                            <p class="ml-4">{!! $goods->getSoroM1tsry_text() !!}</p>
                        </div>

                        <!-- 仕様詳細 -->
                        <div class="px-6 border-b border-gray-200 pb-3">
                            <h4 class="font-bold text-gray-800 mb-3">仕　様</h4>
                            <p class="leading-snug text-sm">
                                ●材質：ペンダントトップ＝金貨（品位.9999）　フレーム・バチカン＝18金、ダイヤモンド1石（約0.01ct）　チェーン＝24金仕上げスターリング・シルバー（925銀）<br>
                                ●サイズ（約）：ペンダントトップ＝縦25.5×横14.5mm（フレーム含む）　チェーン＝最長45cm（フリーアジャスター）<br>
                                ●日本製
                            </p>

                            <!-- 購入フォーム -->
                            <!-- 紐づけコードなし カート -->
                            <!-- 表示のみ 以外 -->
                            @if ($goods->isDisplayOnly() === false && !$goods->isNgCartMessage())
                                <form method="post" action="/cart" name="cartForm{{ $goods->getItemNo() }}">
                                <input type="hidden" name="item_no" value="{{ $goods->getItemNo() }}">
                                <input type="hidden" name="medium_code" value="{{ $goods->getMediumCode() }}">
                                <input type="hidden" name="amount1" value="1">
                                <input type="hidden" name="ex_volume" value="{{ $goods->isVolume() }}">

								<!-- イニシャルの指定あり -->
                                @if ($goods->isInitial() && !$goods->isNgCartMessage())
									<span class="atn">{!! $goods->getInitialTitle() !!}</span><br>
									<input type="text" name="initial" value=""><br>
								@endif

                                <!-- サイズ・カラー選択 -->
								@if ($goods->isCosize() && !$goods->isNgCartMessage())
									@if ($goods->isColor())
                                        <div>
                                            <span class="select">
                                                <select name="m5clr" class="m5clr{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5clr">
                                                    <option value="">▼お選びください</option>
                                                    @foreach ($goods->getColorArray() as $key => $color)
                                                        <option value="{{ $color->m5clr }}">
                                                            {{ $color->color_name }}
                                                        </option>
                                                    @endforeach
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isSize() || $goods->isType())
                                            <br>
                                        @endif
    								@else
	    								<input type="hidden" name="m5clr" value="">
		    						@endif
			    					@if ($goods->isSize())
                                        <div>
                                            <span class="select">
                                                <select name="m5siz" class="m5siz{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5siz">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor())
                                                        @foreach ($goods->getSizeArray() as $size)
                                                            <option value="{{ $size->m5siz }}">
                                                                {{ $size->size_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isType())
                                            <br>
                                        @endif
                                    @else
                                        <input type="hidden" name="m5siz" value="">
                                    @endif
                                    @if ($goods->isType())
                                        <div>
                                            <span class="select">
                                                <select name="type_code" class="type_code{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="type_code">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor() && !$goods->isSize())
                                                        @foreach ($goods->getTypeArray() as $type)
                                                            <option value="{{ $type->type_code }}">
                                                                {{ $type->type_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                    @else
                                        <input type="hidden" name="type_code" value="">
                                    @endif
                                @endif
                                @if (!$goods->isNgCartMessage())
                                    <div class="md:w-[70%] mx-auto mt-4">
                                        <button type="button" data-item_no="{{ $goods->getItemNo() }}" class="add-cart w-full c-btn-amber-gradient py-4 px-6 rounded-lg flex items-center justify-between transition-all duration-200 shadow-md hover:shadow-lg">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                                                <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="flex-1 text-center text-lg font-bold" style="pointer-events: none;">カートに入れる</span>
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="pointer-events: none;">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                            </svg>
                                        </button>
                                    </div>
                                @endif
    					        </form>
                            @endif
                            <div class="flex flex-col lg:flex-row lg:justify-between space-y-3 pt-3">
                            <!-- お電話 -->
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-sm md:text-base text-gray-600 tracking-tighter leading-none">お申込・お問い合わせ 6:00〜21:00</div>
                                    <div class="flex items-center space-x-1 -mt-1">
                                        <div class="w-5 h-5 md:w-8 md:h-8 bg-gray-600 rounded-full flex items-center justify-center">
                                            <svg class="w-3 h-3 md:w-5 md:h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                                            </svg>
                                        </div>
                                        <a href="tel:0120-247-417" class="text-2xl md:text-3xl text-gray-600 hover:opacity-80 duration-200">0120-247-417</a>
                                    </div>
                                </div>
                                <!-- お問い合わせ -->
                                <div class="text-center">
                                    <a href="/inquiry/index?item_no={{ $goods->getItemNo() }}" class="text-iei-primary hover:text-iei-secondary underline transition-colors sm:text-base">この商品をメールで問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <div class="border-t border-gray-300 mb-4 xl:w-[80%] mx-auto"></div> -->
        <!-- 案内セクション -->
        <?php include public_path() . '/include/footer_guidance.html'; ?>

        <!-- ページトップボタン -->
        <div id="pagetop" class="fixed bottom-6 right-6 z-50 hidden">
            <a href="#" class="c-bg-second hover:bg-opacity-80 rounded-full p-3 shadow-lg transition-all duration-200 transform  hover:scale-110 text-white font-bold text-lg w-12 h-12 flex items-center justify-center">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- フッターコンポーネント -->
    <?php include public_path() . '/include/footer_new.html'; ?>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="{{ asset('/sys/js/goods.js') }}"></script>
    <script src="{{ asset('/sys/js/common.js') }}"></script>
</body>
</html>
