<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $goods->getTitleTag() }}</title>
    <meta name="description" content="{{ $goods->getSeoDescription() }}">
    <meta name="keywords" content="{{ $goods->getSeoKeywords() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="format-detection" content="telephone=no">
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:url" content="{{ config('app.url') . '/' . $goods->getM1prgc() }}" />
	<meta property="og:title" content="{{ $goods->getTitleTag() }}" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="{{ $goods->getTwDescription() }}" />
	<meta property="og:site_name" content="{{ $goods->isPremico() ? 'PREMICO(プレミコ) オンラインショップ' : 'I・E・Iオンラインショップ' }}" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/customization.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
</head>

<body class="bg-white">
    <div class="min-h-screen mx-auto">
    <?php include public_path() . '/include/header_new.html'; ?>

        <!-- パンくずナビ -->
        <nav class="bread-clumbs text-sm sm:text-base text-gray-600 mx-auto pl-3 leading-snug tracking-tighter max-w-6xl mt-4">
            <a href="/{{ $goods->getShowFlagName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">{{ $goods->getShowFlagJpName() }}</a>
                @if ($goods->getIeiCategory()->isNotEmpty())
                    <span class="mx-2">｜</span>
                    <a href="/collection/{{ $goods->getIeiCategory()->first()->getIeiCategoryName() }}" class="text-blue-800 hover:text-blue-400 transition-colors">
                        {{ $goods->getIeiCategory()->first()->getIeiCategoryJpName() }}
                    </a>
                @endif
        </nav>

        <!-- メインコンテンツ -->
        <main class="pt-4 pb-2 px-1 mx-auto max-w-5xl">
            <!-- 商品説明 -->
            <section class="mx-auto max-w-3xl">
                <!-- トップ画像 -->
                <div class="p-3">
                    <img src="/image/goods/51495_01.jpg" alt="ギ・ラロッシュ　ノワール エレガンス　優雅なタックですっきりきれいなセレモニーワンピース" class="w-full mx-auto h-auto">
                </div>
                <!-- 商品紹介文 -->
                <div class="p-3">
                    <p class="text-start leading-relaxed font-bold">
                        パリのエレガンスが薫るこだわりのディテールと<br>
                        フォーマルシーンに求められる品格。<br>
                        サイドからバックにあしらわれたタックが揺れて<br>
                        凛と美しい佇まいを演出します。<br>
                        <br>
                        動きやすく締め付け感の少ない、ゆったりとした着心地なのに<br>
                        スリムに見えるシルエットもうれしい仕上がり。<br>
                        名門「ギ・ラロッシュ」がおくる洗練のブラックフォーマルです。
                    </p>
                </div>
                <!-- B:商品メイン画像＆箇条書き(main_600x600画像がない場合) -->
                <div class="flex flex-col md:flex-row p-3">
                    <ul class="border-l-4 pl-2 c-border-collection-gradient text-start w-full md:p-3 leading-relaxed">
                        <li>■フランスの名門ブランド「ギ・ラロッシュ」のオリジナル</li>
                        <li>■品格のある漆黒の上質生地を使用</li>
                        <li>■ストレッチが効いてシワになりにくい素材</li>
                        <li>■ご家庭で洗濯可能</li>
                    </ul>
                </div>

                <!-- 商品詳細 -->
                <div class="flex flex-col space-y-3 mt-6">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        正統派のスタイルに、奥ゆかしくも優雅なタック使い——フランスを代表する高級ブランド「ギ・ラロッシュ」から、あらたまった席にふさわしい品格と着心地の良さを両立したブラックフォーマルが誕生しました。<br>
                        揺れるドレープがどこから見ても美しく、体のラインが出にくいシルエットがうれしい仕上がり。<br>
                        礼節を伝える奥深い漆黒の色合いで、慶弔どちらのシーンでも自信をもってお召しいただけるセレモニーワンピースです。
                    </p>
                    <img src="/image/goods/51495_02.jpg" alt="軽やかに揺れるタックがエレガント。すっきり見えてらくらく着こなせるブラックフォーマル" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <h2 class="text-white rounded-md font-bold text-lg c-bg-collection-gradient text-center sm:p-3 py-2 mx-1">
                        ゆとりのある着心地と動きやすさで<br>
                        長時間の式典でも楽に美しく
                    </h2>
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        素材には、シワになりにくく、しなやかな風合いの高品質な生地を使用。<br>
                        フェミニンなAラインが気になる腰回りを自然にカバーするだけでなく、一日中着用しても疲れにくい、ゆったり楽な着心地を実現しています。<br>
                        窮屈さや服のシワにとらわれることなく、穏やかに想いに寄り添うための心づくしです。<br>
                        さらに、サイドからバックにかけてあしらわれたタックもポイント。<br>
                        縦のラインを強調することで、すっきりとしたスタイルに見せてくれます。<br>
                        袖口のスリットなど細部のディテールにも、真のエレガンスを追求するギ・ラロッシュならではのこだわりが込められました。
                    </p>
                    <img src="/image/goods/51495_03.jpg" alt="念珠やブレスレットが持ちやすく、手首が華奢に見えるスリット入りの袖口。スリムに見えて優雅な印象のサイドのタック使い。Aラインのシルエットで体型カバーも。脱ぎ着しやすく動きやすい、程よく伸縮性のある生地を使用。シワになりにくいので畳んで持ち運ぶ際も安心。すっきりした見た目に見える後ろファスナー。繊細なタックと豊かなドレープで後ろ姿も美しく。" loading="lazy" class="w-full max-w-2xl mx-auto h-auto p-4">
                    <p class="text-start px-1 sm:p-3 leading-relaxed">
                        ギ・ラロッシュ＜ノワール エレガンス＞優雅なタックですっきりきれいなセレモニーワンピースは、ご家庭でお洗濯ができるウォッシャブルでお手入れもしやすく、いつでも清潔にお召しいただけます。<br>
                        いざという時の一着として、ぜひこの機会にお申し込みください。
                    </p>
                    <img src="/image/goods/51495_04.jpg" alt="お手持ちの服とのコーディネートで特別なお出かけにも。季節を問わず幅広いシーンで活躍します" loading="lazy" class="w-full max-w-lg mx-auto h-auto p-4">
                    <div class="p-3 m-1 border c-border-collection-gradient border-1 rounded-md">
                        <h3 class="font-bold p-2">ギ・ラロッシュ</h3>
                        <p class="leading-relaxed flex p-2 flex-col sm:flex-row">
                            <span class="flex-1">1957年、ギ・ラロッシュによって創設されたフランスを代表する高級ブランド。コレクションにデビューすると同時に、瞬く間に上流階級の人々の絶大なる支持を獲得。「唯一無二でありながら典型的たるべし」という創業者のブランド哲学のもと、世界のモードをリードしつづけ、高級プレタポルテやブランドフレグランスなどの先駆けとなる。1985年と89年にデ・ドール賞を受賞、また87年には、文化勲章にあたるレジオン・ドヌール勲章が贈られる。"知的で上質な真のエレガンス"で世界中の人々を魅了している。</span>
                        </p>
                    </div>
                    <img src="/image/goods/51495_size.jpg" alt="サイズ表" loading="lazy" class="w-full max-w-md mx-auto h-auto p-4">
                </div>
            </section>

            <!-- 価格・購入エリア -->
            <section id="price_area" class="my-8 w-full mx-auto">
                <!-- 商品画像以下 -->
                <div class="flex flex-col md:flex-row">
                    <!-- 商品画像 -->
                    <div class="flex justify-center p-12 sm:px-32 md:p-4 md:w-[40%] md:items-start">
                        <!-- 拡大画像 -->
                        <img src="/image/goods/51495_01.jpg"
                            alt="商品詳細画像"
                            loading="lazy"
                            class="w-full h-auto object-contain">
                    </div>

                    <!-- 価格・購入情報 -->
                    <div class="p-4 md:w-[60%] md:p-2 md:ml-8">
                        <!-- 商品番号 -->
                        <div class="mb-2 pl-2">
                            <span class="text-gray-900 tracking-wide">商品番号：{{ $goods->getItemNo() }}</span>
                        </div>
                        <!-- 商品名 -->
                        <h3 class="border-l-8 border-gray-800 pl-2 text-xl font-bold text-gray-800 mb-4 md:mb-1 tracking-tighter">
                            {{ $goods->getGoodsName() }}
                        </h3>

                        <!-- 納期・お届け -->
						@if ($goods->isNgCartMessage() || $goods->isOkCartMessage())
							<!-- メッセージあり 受注NG or OK -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getMessage() !!}</p></div>
						@else
							<!-- メッセージなし 納期表示 -->
							<div class="py-2"><p class="text-blue-700 font-bold text-lg">{!! $goods->getGoodsDeliveryText() !!}</p></div>
						@endif

                        <!-- 価格 -->
                        <div class="space-y-2 md:space-y-1 mb-6 text-gray-600">
                            <p class="text-lg">{!! $goods->getSoroM1shsg_0_text() !!}</p>
                            <p class="">{!! $goods->getSoroM1shsg_1_text() !!}</p>
                            <p class="ml-4">{!! $goods->getSoroM1tsry_text() !!}</p>
                        </div>

                        <!-- 仕様詳細 -->
                        <div class="px-6 border-b border-gray-200 pb-3">
                            <h4 class="font-bold text-gray-800 mb-3">仕　様</h4>
                            <p class="leading-snug text-sm">
                                ●材質：表地＝ポリエステル93％、ポリウレタン7％　裏地＝ポリエステル100％<br>
                                ●袖スリット（約）：6cm<br>
                                ●中国製
                            </p>

                            <!-- 購入フォーム -->
                            <!-- 紐づけコードなし カート -->
                            <!-- 表示のみ 以外 -->
                            @if ($goods->isDisplayOnly() === false && !$goods->isNgCartMessage())
                                <form method="post" action="/cart" name="cartForm{{ $goods->getItemNo() }}">
                                <input type="hidden" name="item_no" value="{{ $goods->getItemNo() }}">
                                <input type="hidden" name="medium_code" value="{{ $goods->getMediumCode() }}">
                                <input type="hidden" name="amount1" value="1">
                                <input type="hidden" name="ex_volume" value="{{ $goods->isVolume() }}">

								<!-- イニシャルの指定あり -->
                                @if ($goods->isInitial() && !$goods->isNgCartMessage())
									<span class="atn">{!! $goods->getInitialTitle() !!}</span><br>
									<input type="text" name="initial" value=""><br>
								@endif

                                <!-- サイズ・カラー選択 -->
								@if ($goods->isCosize() && !$goods->isNgCartMessage())
									@if ($goods->isColor())
                                        <div>
                                            <span class="select">
                                                <select name="m5clr" class="m5clr{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5clr">
                                                    <option value="">▼お選びください</option>
                                                    @foreach ($goods->getColorArray() as $key => $color)
                                                        <option value="{{ $color->m5clr }}">
                                                            {{ $color->color_name }}
                                                        </option>
                                                    @endforeach
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isSize() || $goods->isType())
                                            <br>
                                        @endif
    								@else
	    								<input type="hidden" name="m5clr" value="">
		    						@endif
			    					@if ($goods->isSize())
                                        <div>
                                            <span class="select">
                                                <select name="m5siz" class="m5siz{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="m5siz">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor())
                                                        @foreach ($goods->getSizeArray() as $size)
                                                            <option value="{{ $size->m5siz }}">
                                                                {{ $size->size_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                        @if ($goods->isType())
                                            <br>
                                        @endif
                                    @else
                                        <input type="hidden" name="m5siz" value="">
                                    @endif
                                    @if ($goods->isType())
                                        <div>
                                            <span class="select">
                                                <select name="type_code" class="type_code{{ $goods->getItemNo() }} w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:border-transparent"
                                                    data-item_no="{{ $goods->getItemNo() }}" data-data_type="type_code">
                                                    <option value="">▼お選びください</option>
                                                    @if (!$goods->isColor() && !$goods->isSize())
                                                        @foreach ($goods->getTypeArray() as $type)
                                                            <option value="{{ $type->type_code }}">
                                                                {{ $type->type_name }}
                                                            </option>
                                                        @endforeach
                                                    @endif
                                                </select>
                                            </span>
                                        </div>
                                    @else
                                        <input type="hidden" name="type_code" value="">
                                    @endif
                                @endif
                                @if (!$goods->isNgCartMessage())
                                    <div class="md:w-[70%] mx-auto mt-4">
                                        <button type="button" data-item_no="{{ $goods->getItemNo() }}" class="add-cart w-full c-btn-amber-gradient py-4 px-6 rounded-lg flex items-center justify-between transition-all duration-200 shadow-md hover:shadow-lg">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                                                <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="flex-1 text-center text-lg font-bold" style="pointer-events: none;">カートに入れる</span>
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="pointer-events: none;">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                            </svg>
                                        </button>
                                    </div>
                                @endif
    					        </form>
                            @endif
                            <div class="flex flex-col lg:flex-row lg:justify-between space-y-3 pt-3">
                            <!-- お電話 -->
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-sm md:text-base text-gray-600 tracking-tighter leading-none">お申込・お問い合わせ 6:00〜21:00</div>
                                    <div class="flex items-center space-x-1 -mt-1">
                                        <div class="w-5 h-5 md:w-8 md:h-8 bg-gray-600 rounded-full flex items-center justify-center">
                                            <svg class="w-3 h-3 md:w-5 md:h-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
                                            </svg>
                                        </div>
                                        <a href="tel:0120-247-417" class="text-2xl md:text-3xl text-gray-600 hover:opacity-80 duration-200">0120-247-417</a>
                                    </div>
                                </div>
                                <!-- お問い合わせ -->
                                <div class="text-center">
                                    <a href="/inquiry/index?item_no={{ $goods->getItemNo() }}" class="text-iei-primary hover:text-iei-secondary underline transition-colors sm:text-base">この商品をメールで問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <div class="border-t border-gray-300 mb-4 xl:w-[80%] mx-auto"></div> -->
        <!-- 案内セクション -->
        <?php include public_path() . '/include/footer_guidance.html'; ?>

        <!-- ページトップボタン -->
        <div id="pagetop" class="fixed bottom-6 right-6 z-50 hidden">
            <a href="#" class="c-bg-second hover:bg-opacity-80 rounded-full p-3 shadow-lg transition-all duration-200 transform  hover:scale-110 text-white font-bold text-lg w-12 h-12 flex items-center justify-center">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- フッターコンポーネント -->
    <?php include public_path() . '/include/footer_new.html'; ?>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/product.js"></script>
    <script src="{{ asset('/sys/js/goods.js') }}"></script>
    <script src="{{ asset('/sys/js/common.js') }}"></script>
</body>
</html>
